.user-logged-in {
  .toolbar-bar {
    a {
      border-bottom: 0;
      letter-spacing: normal;
    }
  }

  .landing-page-container {
    margin-top: 0;
  }
}

.contextual-links {
  a {
    border-bottom: 0;
  }
}

.block-ethoca-local-tasks {
  margin: auto;
  max-width: 1224px;
  padding-top: 15px;

  ul {
    align-items: center;
    border-bottom: 4px solid $orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;

    li+li {
      margin-top: 0;
    }

    li {
      margin-right: 10px;
      padding: 5px 0;

      a {
        background-color: $orange;
        border-bottom: 0;
        color: $white;
        font-weight: bold;
        padding: 8px 20px;

        &:hover {
          background-color: darken($orange, 5%);
        }
      }
    }
  }
}

body {
  &.toolbar-tray-open {
    .toolbar-tab+.toolbar-tab {
      margin-top: 0;
    }

    .toolbar-menu-administration {
      margin-top: 0;

      ul {
        li+li {
          margin-top: 0;
        }
      }
    }

    .toolbar-lining {
      >a {
        margin-top: 0;
      }
    }

    ul {
      &.toolbar-menu {
        li+li {
          margin-top: 0;
        }
      }
    }

    .contextual-toolbar-tab {
      div {
        margin-top: 0;
      }
    }

    div+div {
      margin-top: 0;
    }

    .contextual-region {
      ul {
        li+li {
          margin-top: 0;
        }
      }
    }

    .layout-container {
      padding: 0;
    }

    .layout-content {
      margin-top: 0;
    }

    &.user-logged-in {
      >.layout-container {
        footer {
          .footer-bottom {
            padding: 25px 0;
          }
        }

        >div {
          .sticky-wrapper {
            display: none;
          }
        }
      }
    }
  }
}

.toolbar-tray {
  margin-top: 0;
}

.contextual {
  display: none;
}

.toolbar-tray-open {
  &.toolbar-horizontal {
    &.toolbar-fixed {
      &.user-logged-in {
        &.path-user {
          padding-top: 80px !important;
        }
      }
    }
  }
}

.toolbar-tray-horizontal {
  .menu-item {
    a {
      &:focus {
        color: $yellow;
      }
    }
  }
}
