.paragraph-type-advanced-content {
  margin-top: 0;
  padding: 50px 20px;

  .advanced__content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    > .paragraph {
      margin-top: 25px;
      padding: 0;

      @include respond-to(breakpoint-medium) {
        margin-top: 0;
      }

      &:first-of-type {
        margin: 0 20px;

        @include respond-to(breakpoint-medium) {
          margin: 0;
        }
      }

      .field {
        @include respond-to(breakpoint-large) {
          p {
            max-width: 796px;
          }
        }

        .ethoca-web-portal {
          align-items: center;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin: 25px 0 0;
          padding: 0;

          @include respond-to(breakpoint-medium) {
            margin-top: 0;
          }
          @include respond-to(breakpoint-large) {
            flex-flow: row nowrap;
            margin-top: 35px;
            max-width: 1224px;
          }

          > div {

            &:first-of-type {
              @include respond-to(breakpoint-medium) {
                margin: 0;
                max-width: none;
                width: 75%;
              }
              @include respond-to(breakpoint-large) {
                margin: 0 10px;
                width: 50%;

                img {
                  width: 500px;
                }
              }
            }

            &:last-of-type {
              align-items: center;
              background-color: transparent;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              margin: 35px auto 0;
              max-width: none;

              @include respond-to(breakpoint-large) {
                align-items: baseline;
                padding-left: 25px;
                width: 50%;
              }

              h4 {
                margin-top: 25px;
                text-align: center;
              }

              p {
                margin-top: 15px;
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              .button {
                margin-top: 15px;

                @include respond-to(breakpoint-medium) {
                  margin-top: 25px;
                }
              }
            }
          }
        }

        .button {
          margin-top: 0;
        }
      }
    }
  }
}

li {
  letter-spacing: .5px;
  line-height: 1.4;
}
