.grey-dark-background {
  background-color: $black-90;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h2 {
    color: $white !important;
  }
}

.white-background {
  background-color: $white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $black-90;

  h1,
  h2 {
    color: $black-80 !important;
  }
}

.grey-light-background {
  background-color: $grey-light;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $black-90;

  h1,
  h2 {
    color: $black-80 !important;
  }
}

.green-background {
  background-color: $green;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.blue-background {
  background-color: $blue;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.orange-background {
  background-color: $orange;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.pink-background {
  background-color: $pink;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.purple-background {
  background-color: $purple;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.red-background {
  background-color: $red;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.teal-background {
  background-color: $teal;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.yellow-background {
  background-color: $yellow;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  h1,
  h2 {
    color: $white !important;
  }
}

.block-ethoca-content {
  margin-top: 0;
}

.paragraph {
  &.paragraph-type-content {

    margin-top: 0;

    .field--name-field-content {
      margin: 0;
      padding: 50px 20px;
      width: 100%;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        max-width: 728px;
      }

      @include respond-to(breakpoint-large) {
        margin: auto;
        max-width: 796px;
        padding: 50px 0;
        text-align: center;
      }

      h2 {
        text-align: center;
      }

      h3 {
        text-align: center;

        @include respond-to(breakpoint-large) {
          margin-top: 25px;
        }
      }

      ul,
      ol {
        align-items: baseline;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 15px 0 15px 25px;
        padding: 0;

        li+li {
          margin-top: 0;
        }

        li {
          line-height: 1.4;
          margin: 0;
          padding: 0 0 10px;
          text-align: left;

        }
      }

      p+p {
        margin-top: 25px;
      }

      p {
        margin-top: 25px;
        text-align: center;

        em {
          font-style: italic;
        }

        strong {
          font-family: $body-font-heavy;
          font-weight: bold;
        }
      }

      iframe {
        height: 344.25px;
        width: 612px;
      }

      .button {
        margin-top: 25px;
      }

      .network-data {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        @include respond-to(breakpoint-medium) {
          flex-flow: row nowrap;
          margin: 35px 0 25px;
          width: 100%;
        }

        [class^='network-data'] {
          margin: 0 0 25px;
          text-align: center;

          @include respond-to(breakpoint-medium) {
            margin: 0;
            width: calc(100% / 3);
          }

          &:last-of-type {
            margin: 0;
          }

          span {
            &:first-of-type {
              @include font-size(48px);
              color: $green;
              display: block;
              margin: 0 0 5px;
            }

            &:last-of-type {
              @include font-size(18px);
              color: $white;
              display: block;
              font-family: $body-font;
              margin-top: 0;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .field {
      .does-collaboration-work__grid {
        align-items: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: auto auto 20px;
        width: 300px;

        @include respond-to(breakpoint-medium) {
          flex-flow: row wrap;
          margin: 35px auto 65px;
          width: 100%;
        }

        .does-collaboration-work__testimonial {
          background-image: url('../img/bg-hexagon-orange.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 125%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin: auto;
          padding: 105px 35px;
          text-align: center;
          width: 300px;

          @include respond-to(breakpoint-large) {
            background-size: 125%;
            margin: 0;
            max-width: 300px;
            padding: 95px 55px;
            width: calc(100% / 3);
          }

          @include respond-to(breakpoint-large) {
            &:nth-of-type(odd) {
              transform: translateY(35px);
            }
          }

          p {
            @include font-size(14px);
            color: $white;
            font-family: 'Helvetica Neue LT Std - 56 Italic', sans-serif;
            line-height: 1.4;
            margin: 0;

            &:first-of-type {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  div {
    ul {
      margin: 25px 0;

      li {
        line-height: 1.4;
        margin-top: 0;
      }
    }
  }

  &.dark-background {
    &.paragraph-type-content {
      background-color: $black-90;
      margin-top: 0;
      padding: 50px 20px;

      @include respond-to(breakpoint-large) {
        padding: 50px 0;
      }

      .field--name-field-content {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: auto;
        padding: 0;

        @include respond-to(breakpoint-medium) {
          max-width: 728px;
        }

        @include respond-to(breakpoint-large) {
          max-width: 796px;
        }

        h2 {
          color: $white;
          text-align: center;
        }

        p {
          color: $white;
          margin-top: 25px;
          text-align: center;

          &:first-of-type {
            margin-top: 25px;
          }
        }
      }
    }
  }

  &.light-background {
    &.paragraph-type-content {
      background-color: $white;
      margin-top: 0;
      padding: 50px 20px;

      @include respond-to(breakpoint-large) {
        padding: 50px 0;
      }

      .field--name-field-content {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: auto;
        padding: 0;

        @include respond-to(breakpoint-medium) {
          max-width: 728px;
        }

        @include respond-to(breakpoint-large) {
          max-width: 796px;
        }

        h2 {
          color: $black-90;
          text-align: center;
        }

        p {
          color: $black-90;
          margin-top: 25px;
          text-align: center;

          &:first-of-type {
            margin-top: 25px;
          }
        }
      }
    }
  }
}

.paragraph-type-hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;

  @include respond-to(breakpoint-large) {
    padding: 75px 0;
  }

  h1 {
    color: $white;
    text-align: center;
  }

  &.dark-background {
    background-color: $black-90;

    h1 {
      color: $white;
      text-align: center;
    }
  }

  &.light-background {
    background-color: $grey-light;

    h1 {
      color: $black-90;
      text-align: center;
    }
  }
}

.page-container {
  margin-top: 0;
}

h2 {
  &.numeric-header {
    @include font-size(48px);
    font-family: $body-font;
  }
}

span {
  &.content-green {
    color: $green;
  }

  &.content-blue {
    color: $blue;
  }

  &.content-orange {
    color: $orange;
  }

  &.content-pink {
    color: $pink;
  }

  &.content-purple {
    color: $purple;
  }

  &.content-teal {
    color: $teal;
  }

  &.content-yellow {
    color: $yellow;
  }

  &.content-red {
    color: $red;
  }
}

.no-margins {
  margin-bottom: 25px;
  margin-top: 0 !important;
}
