footer {
  .footer-bottom {
    background-color: darken($black-90, 10%);
    margin-top: 0;
    padding: 25px 0;

    @include respond-to(breakpoint-large) {
      padding: 25px 0 80px;
    }

    > div {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: auto;

      @include respond-to(breakpoint-large) {
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 1224px;
      }

      ul {
        align-items: baseline;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        margin: 0 !important;
        padding: 0;

        li+li {
          margin-top: 0;
        }

        li {
          margin-right: 10px;

          &::after {
            @include font-size(12px);
            content: '\002F';
            display: inline-block;
            margin: 0 0 0 10px;
          }

          &:last-of-type {
            margin-right: 0;

            &::after {
              content: '';
              margin: 0;
            }
          }

          a {
            @include font-size(12px);
            border-bottom: 1px solid;
            color: $grey;
            letter-spacing: 0;
            text-decoration: none;

            &:hover,
            &:active,
            &:focus {
              border-bottom: 0;
              cursor: pointer;
              outline: 0;
              text-decoration: none;
            }
          }
        }
      }

      > div {
        @include font-size(12px);
        color: $grey;
        letter-spacing: 0;
        margin: 0 20px 10px;
        text-align: center;

        @include respond-to(breakpoint-large) {
          margin: 0;
        }
      }
    }
  }
}

// div {
//   .sticky-wrapper {
//     display: none !important;
//   }
// }
