.layout-container {
  > footer {
    background-color: $black-90;
    color: $white;
  }
}

footer {
  h2 {
    @include font-size(18px);
    color: $white;
    font-family: 'Helvetica Neue LT Std - 65 Medium', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: center;

    @include respond-to(breakpoint-large) {
      text-align: left;
    }
  }

  .region-footer {
    align-items: center;
    background-color: $black-90;
    color: $white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    @include respond-to(breakpoint-large) {
      align-items: flex-start;
      flex-flow: row wrap;
      justify-content: center;
      max-width: 1224px;
      padding: 35px 0;
    }

    > div {
      margin: 0;
      padding: 0;
      width: 100%;

      @include respond-to(breakpoint-large) {
        max-width: none;
        width: calc(100% / 3);
      }
    }

    // TAKE ACTION
    .block-take-action {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 50px auto 0;
      padding: 0 20px;
      text-align: center;

      @include respond-to(breakpoint-large) {
        align-items: baseline;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        width: auto;
      }

      div + div {
        margin-top: 0;
      }

      div {
        margin-top: 5px;

        @include respond-to(breakpoint-large) {
          padding-right: 25px;
        }

        div {
          ul {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            list-style: none;
            margin: 0;
            padding: 0 15px;

            @include respond-to(breakpoint-large) {
              align-items: baseline;
              padding: 0;
            }

            li + li {
              margin-top: 15px;
            }

            li {
              @include respond-to(breakpoint-large) {
                margin: 0;
                max-width: none;
              }

              &:first-of-type {
                margin-top: 15px;
              }

              a {
                @include font-size(16px);
                border: 2px solid $green;
                color: $green;
                display: block;
                font-weight: bold;
                padding: 6px 15px;
                text-decoration: none;
                text-transform: uppercase;

                @include respond-to(breakpoint-small) {
                }
                @include respond-to(breakpoint-medium) {
                  white-space: nowrap;
                }
                @include respond-to(breakpoint-large) {
                }

                &:hover,
                &:active,
                &:focus {
                  background-color: $green;
                  color: $white;
                  outline: none;
                }

                &:link {
                  -webkit-tap-highlight-color: $green;
                }
              }
            }
          }
        }
      }
    }

    // NEWS
    .block-news {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 50px auto 0;
      padding: 0 20px 35px;
      text-align: center;

      @include respond-to(breakpoint-large) {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0 0 90px;
      }

      div {
        margin-top: 5px;

        div {
          ul {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            @include respond-to(breakpoint-large) {
              align-items: baseline;
              padding: 0;
            }

            li + li {
              margin-top: 5px;
            }

            li {
              a {
                align-items: center;
                background-color: transparent;
                border-bottom: 1px solid $white;
                color: $white;
                display: flex;
                justify-content: center;
                margin-top: 5px;
                text-decoration: none;

                &:visited {
                  border-bottom: 0;
                  outline: none;
                  text-decoration: none;
                }

                &:hover,
                &:active,
                &:focus {
                  border-bottom: 1px solid $black-90;
                  outline: none;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
