.header-top {
  display: none;
  margin: 0;

  @include respond-to(breakpoint-large) {
    background-color: $grey-light;
    display: block;
  }

  .region-header-top {
    align-items: baseline;
    display: flex;
    margin: 0;
    padding: 0;

    @include respond-to(breakpoint-large) {
      align-items: flex-start;
      height: 40px;
      justify-content: flex-end;
      margin: auto;
      width: 1224px;
    }
  }
}
