header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @include respond-to(breakpoint-large) {
    margin: auto;
  }
}

.region-header {
  @include respond-to(breakpoint-large) {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    width: 1224px;
  }
}
