.path-frontpage {
  .home-page-container {
    div {
      &.paragraph {

        // Good Things Happen When You Join the Network
        &.paragraph-id-1441 {
          .card-collection {
            margin-top: 0;
          }
        }

        &.paragraph-id-1815 {

          @include respond-to(breakpoint-large) {
            padding: 0;
          }
        }

        &.paragraph-id-129 {
          .button {
            &.button--white {
              margin-top: 35px;
            }
          }
        }

        // What is a Collaboration Network?
        &.paragraph-id-1179 {
          padding: 0 0 50px;

          .button {
            &.button--green {
              margin-top: 25px !important;
            }
          }

          @include respond-to(breakpoint-large) {
            padding: 50px 0;
          }
        }

        // Whitepaper: The Faces of Friendly Fraud
        &.paragraph-id-1499 {
          padding: 25px 20px 50px;

          @include respond-to(breakpoint-large) {
            padding: 50px 0;
          }
        }

        // Powerful Products for Merchants
        &.paragraph-id-1352 {
          padding: 50px 0 25px;
        }

        // Does Collaboration Work? Ask our Customers!
        &.paragraph-id-173 {
          padding: 50px 0 25px;

          div {
            div {
              &.field--name-field-content {
                max-width: 1000px;
                padding: 0;
              }
            }
          }
        }

        // Just a few of our satisfied customers
        &.paragraph-id-139 {
          .clients__collection {
            .views-element-container {
              div {
                &[class*='js-view-dom-id-'] {
                  margin: auto;
                  padding: 50px 0 0;
                }
              }
            }
          }
        }

        // Case Study
        &.paragraph-id-140 {
          display: none;

          @include respond-to(breakpoint-large) {
            display: block;
            // margin-top: 0;
            // padding: 50px 0 0;
          }
        }

        // News
        &.paragraph-id-82 {
          .news {
            &.field {
              .views-element-container {
                [class*='js-view-dom-id-'] {
                  padding: 0;
                }

                div {
                  [class*='js-view-dom-id-'] {
                    padding: 0;
                  }
                }

                .press-release-item {
                  &.views-row {
                    margin-bottom: 25px;
                  }
                }
              }
            }
          }
        }

        // Events
        &.paragraph-id-84 {
          display: none;

          @include respond-to(breakpoint-large) {
            display: block;
            margin-top: 0;
            padding: 50px 0 0;
          }

          header,
          footer {
            background-color: transparent;
          }

          h2 {
            text-align: center;
          }

          .events__grid {
            align-items: baseline;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: auto;
            margin-top: 35px;
            max-width: 1000px;

            .event__list {
              display: inline-block;
              margin-top: 0;
              padding: 0;
              padding-left: 125px;
              width: 50%;

              .views-element-container {
                div {
                  &[class*='js-view-dom-id-'] {
                    padding: 0;

                    header {
                      background-color: $white;
                      display: block;
                      padding: 0;
                    }

                    div {
                      .events {
                        &.list {
                          .list__item {
                            a {
                              span {
                                color: $black-90;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              > div {
                > div {
                  > div {
                    margin-top: 10px;
                  }
                }
              }

              ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li+li {
                  margin-top: 0;
                }

                li {
                  a {
                    border-bottom: 0;
                    color: $green;
                    text-decoration: none;

                    &:visited {
                      color: $green;
                    }

                    &:hover,
                    &:active,
                    &:focus {
                      border-bottom: 1px solid $green;
                      color: $green;
                      cursor: pointer;
                      outline: 0;
                      text-decoration: none;
                    }
                  }
                }
              }
            }

            footer {
              .button {
                justify-content: flex-start;
              }
            }

            .event__highlight {
              align-items: baseline;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding-right: 45px;
              width: 50%;

              .views-element-container {
                [class*='js-view-dom-id-'] {
                  padding: 0;
                }

                div {
                  [class*='js-view-dom-id-'] {
                    padding: 0;

                    .event-item {
                      margin-bottom: 0;
                    }
                  }
                }
              }

              h3 {
                margin-bottom: 10px;
              }

              p {
                &.event__link {
                  a,
                  &:visited {
                    border-bottom: 2px solid $white;
                    color: $green;
                    line-height: 1.4;
                    text-decoration: none;

                    &:active {
                      border-bottom: 2px solid $green;
                      color: $green;
                      cursor: pointer;
                      outline: 0;
                      text-decoration: none;
                    }

                    &:hover,
                    &:focus {
                      border-bottom: 2px solid $green;
                      text-decoration: none;
                    }
                  }
                }
              }

              .event__description {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

p {
  &.ethoca-network {
    img {
      width: 375px;
    }
  }
}

.paragraph {
  .paragraph-id-175,
  .paragraph-id-172 {
    &.white-background,
    &.grey-dark-background {
      background-color: transparent !important;

      .field {
        color: $white;

        h2 {
          color: $white !important;
        }
      }
    }
  }
}

html {
  &:lang(fr),
  &:lang(es),
  &:lang(pt),
  &:lang(zh) {
    .paragraph-id-82,
    .paragraph-id-84 {
      display: none !important;
    }
  }
}
