.context-user-login,
.context-user-password {
  background-color: $green;
  min-height: 100%;
  overflow-x: hidden;
}

.island {
  font-family: unset;
  margin: 0 auto;
  max-width: 18em;
  padding: 125px 0 10px;
  width: unset;

  @include respond-to(breakpoint-small) {
    max-width: 20em;
  }

  @include respond-to(breakpoint-medium) {
    max-width: 26em;
  }

  @include respond-to(breakpoint-large) {
    max-width: 26em;
  }

  .island__container {
    background-color: $white;
    border-radius: 10px;
    padding: 20px;

    .top_part {
      padding: 0;

      h1 {
        &.the_logo {
          a {
            align-items: center;
            border: 0;
            display: flex;
            justify-content: center;

            img {
              height: 68px;
              width: 178px;
            }
          }
        }
      }
    }

    .middle_part {
      margin: 10px 0 0;

      h2 {
        &.title {
          @include font-size(18px);
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }

      .region-content {
        margin: 20px auto 0;
        padding: 0;

        .status-messages {
          margin: 20px auto;
        }

        .block-ethoca-page-title {
          display: none;
        }

        .block-ethoca-content {
          margin: 0;
          padding: 5px 0 0;

          form {
            &.user-login-form,
            &.user-pass {
              display: flex;
              flex-flow: column nowrap;
              width: 100%;

              .description {
                display: none;
              }

              > div {
                background: unset;
                border-radius: unset;
                display: flex;
                flex-flow: column nowrap;
                margin: 0 0 10px;
                max-width: unset;
                padding: unset;
                width: unset;

                label {
                  margin-bottom: 3px;
                }

                input {
                  &[type='text'],
                  &[type='password'] {
                    background-color: $white;
                    border: 1px solid $black-20;
                    border-radius: unset;
                    color: $black-20;
                    font-family: 'Helvetica Neue LT Std - 45 Light', sans-serif;
                    font-size: unset;
                    letter-spacing: .5px;
                    outline: none;
                    padding: 10px;
                    transition: all .2s ease-in-out;
                    width: 100%;
                  }

                  &[type='submit'] {
                    float: unset;
                  }
                }
              }

              .form-item-persistent-login {
                align-items: baseline;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                margin-top: 5px;

                label {
                  margin: 0 0 8px;
                  padding: 0;
                }
              }

              .form-actions {
                align-items: center;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                margin: 0;

                input {
                  &[type='submit'] {
                    background-color: $green;
                    border: 2px solid $green;
                    color: $white;
                    display: inline-block;
                    float: none;
                    font-size: 16px;
                    padding: 6px 15px;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: none;
                    white-space: nowrap;

                    &:visited {
                      color: $white;
                      }

                    &:hover,
                    &:active,
                    &:focus {
                      background-color: $white;
                      color: $green;
                      cursor: pointer;
                      outline: 0;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .island__footer {
    background-color: transparent;
    color: $white;
    margin-top: 10px;

    .bottom_part {
      align-items: flex-start;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0 10px;

      div {
        margin: 0;

        a {
          @include font-size(12px);
        }
      }
    }
  }
}
