// Adjustments for Chinese and French offset positioning.

html {
  &:lang(zh) {
    .paragraph {
      &.paragraph-type-content {
        .field {
          .does-collaboration-work__grid {
            .does-collaboration-work__testimonial {
              padding: 130px 55px;
            }
          }
        }
      }
    }
  }

  &:lang(fr) {
    .paragraph {
      &.paragraph-type-content {
        .field {
          .does-collaboration-work__grid {
            .does-collaboration-work__testimonial {
              padding: 95px 55px;
            }
          }
        }
      }
    }
  }
}
