.block-ethoca-content {
  .views-element-container {
    div {
      > header {
        align-items: baseline;
        background-color: $grey-light;
        display: flex;
        justify-content: center;
        padding: 50px 0;
      }
    }
  }
}

article {
  div {
    .paragraph-type-news {
      align-items: center;
      background-color: $grey-light;
      display: none;
      justify-content: center;
      margin-top: 0;
      padding: 50px 0;

      @include respond-to(breakpoint-large) {
        display: flex;
      }

      .news {
        @include respond-to(breakpoint-large) {
          margin: auto;
          max-width: 796px;
        }

        footer {
          background-color: transparent;

          .button {
            margin: 15px 0 0;
            padding: 0;
          }
        }
      }

      .news__heading {
        margin: 0 0 25px;
        text-align: center;
      }

      .news__title {
        text-align: center;
      }

      p {
        margin: 20px auto;
        text-align: center;
      }
    }
  }
}
