.paragraph-type-card-collection {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0;
  padding: 50px 20px;

  @include respond-to(breakpoint-large) {
    padding: 50px 0;
  }

  h2 {
    text-align: center;
  }

  .card-collection {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 25px 0 0;
    padding: 0;

    @include respond-to(breakpoint-small) {
      align-items: baseline;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    @include respond-to(breakpoint-large) {
      justify-content: center;
      margin-top: 25px;
      max-width: 1224px;
    }
  }
}

.card-collection {
  align-items: stretch !important;
  display: flex !important;

  > .paragraph-type-card {
    align-items: stretch !important;
    display: flex !important;
    flex: 1 !important;
    flex-flow: row wrap !important;

    > .card__cta {
      align-self: flex-end !important;
    }
  }
}

.paragraph {
  > .card-collection {
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;

    @include respond-to(breakpoint-large) {
      justify-content: space-evenly;
      margin-top: 50px;
      max-width: 1224px;
      padding: 0 100px;
      width: 100%;
    }

    >div {
      &.paragraph-type-card {
        @include at-least(1, 'div') {
          margin: 0 auto 25px;
        }

        @include at-least(2, 'div') {
          margin: 25px auto;
        }

        @include at-least(3, 'div') {
          margin: 25px auto;
        }

        @include at-least(4, 'div') {
          margin: 25px auto;
        }

        @include at-least(5, 'div') {
          margin: 25px auto;
        }

        @include at-least(6, 'div') {
          margin: 25px auto;
        }

        @include at-least(7, 'div') {
          margin: 25px auto;
        }

        @include at-least(8, 'div') {
          margin: 25px auto;
        }

        @include at-least(9, 'div') {
          margin: 25px auto;
        }

        @include at-least(10, 'div') {
          margin: 25px auto;
        }

        align-items: center;
        background-color: transparent;
        display: inline-table;
        justify-content: center;
        margin: 0 auto 25px;
        max-width: 200px;
        min-width: 200px;
        position: relative;
        text-align: center;

        @include respond-to(breakpoint-small) {
          @include at-least(1, 'div') {
            margin: 0 auto 35px;
          }

          @include at-least(2, 'div') {
            margin: 25px 20px 35px;
          }

          @include at-least(3, 'div') {
            margin: 25px 20px 35px;
          }

          @include at-least(4, 'div') {
            margin: 25px 20px 35px;
          }

          @include at-least(5, 'div') {
            margin: 25px 20px 35px;
          }

          @include at-least(6, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(7, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(8, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(9, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(10, 'div') {
            margin: 0 50px 35px;
          }
        }

        @include respond-to(breakpoint-large) {
          @include at-least(1, 'div') {
            margin: 0 0 35px;
          }

          @include at-least(2, 'div') {
            margin: 0 0 35px;
          }

          @include at-least(3, 'div') {
            margin: 0 0 35px;
          }

          @include at-least(4, 'div') {
            margin: 0 25px 35px;
          }

          @include at-least(5, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(6, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(7, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(8, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(9, 'div') {
            margin: 0 50px 35px;
          }

          @include at-least(10, 'div') {
            margin: 0 50px 35px;
          }
        }

        div {
          &:last-of-type {
            vertical-align: bottom;
          }
        }

        .card__cta {
          align-items: center;
          display: flex;
          justify-content: center;

          a {
            min-width: 75px;
            white-space: normal;
          }
        }
      }
    }
  }
}

@include respond-to(breakpoint-medium) {
  .card-collection {

    // Card Collection with one card.
    >div {
      @include space-out(1, 1);
    }

    // Card Collection with two cards.
    >div {
      @include space-out(1, 2);
    }

    // Card Collection with three cards.
    >div {
      @include space-out(1, 3);
    }

    // Card Collection with four cards.
    >div {
      @include space-out(1, 4);
    }

    // Card Collection with five cards.
    >div {
      @include space-out(1, 5);
    }

    // Card Collection with six cards.
    >div {
      @include space-out(1, 6);
    }

    // Card Collection with ten cards.
    >div {
      @include space-out(1, 10);
    }
  }
}
