.paragraph-type-multi-column-collection {
  background-color: $grey-light;

  &.grey-light-background {
    background-color: $grey-light;
  }

  &.grey-dark-background {
    background-color: $grey;
  }

  &.white-background {
    background-color: $white;
  }

  &.green-background {
    background-color: $green;
  }

  &.blue-background {
    background-color: $blue;
  }

  &.orange-background {
    background-color: $orange;
  }

  &.pink-background {
    background-color: $pink;
  }

  &.purple-background {
    background-color: $purple;
  }

  &.red-background {
    background-color: $red;
  }

  &.teal-background {
    background-color: $teal;
  }

  &.yellow-background {
    background-color: $yellow;
  }

  > div {
    .multi-column-collection__center {
      background-color: $white;
    }
  }
}

.paragraph {
  &.paragraph-type-multi-column-collection {
    align-items: center;
    background-color: $grey-light;
    color: $black-90;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    > div {
      @include respond-to(breakpoint-large) {
        min-width: 1000px;
      }

      div {
        &[class*='multi-column-collection__'] {
          background-color: $grey-light;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin: 0;
          min-width: 100vw;

          @include respond-to(breakpoint-large) {
            min-width: unset;
            width: (100% / 3);
          }

          &:nth-child(even) {
            .paragraph-type-multi-column-card {
              background-color: $white;
            }
          }

          .paragraph-type-multi-column-card {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            h3 {
              max-width: 200px;
              text-align: center;
              text-transform: uppercase;

              @include respond-to(breakpoint-medium) {
                max-width: 500px;
              }

              @include respond-to(breakpoint-large) {
                max-width: 500px;
              }
            }

            p {
              text-align: center;
            }

            .field--name-field-mc-card-content {
              margin-top: 5px;

              .button--grey {
                align-items: center;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin: 15px 0 0;
                padding: 0;

                a {
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }

      @include respond-to(breakpoint-large) {
        display: flex;
        flex-flow: row nowrap;
      }

      > div {
        > .paragraph-type-multi-column-card {
          align-items: center;
          background-color: $grey-light;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          padding: 50px 20px;

          .field {
            color: $black-90;
            text-align: center;
          }

          h3 {
            margin: auto;
            max-width: 280px;

            @include respond-to(breakpoint-medium) {
              max-width: 500px;
            }
          }

          .field--name-field-mc-card-content {
            margin-top: 15px;
            max-width: 280px;

            @include respond-to(breakpoint-large) {
              margin-top: 5px;
            }
          }

          &.grey-light-background {
            background-color: $grey-light !important;
            height: 100%;

            .field {
              color: $black-90;
            }

            .button {
              a {
                border: 2px solid $black-90;
                color: $black-90;

                &:focus,
                &:hover,
                &:active {
                  background-color: $black-90;
                  color: $white;
                  outline: none;
                }
              }
            }
          }

          &.grey-dark-background {
            background-color: $grey !important;
            height: 100%;

            .field {
              color: $black-90;
            }

            .button {
              a {
                border: 2px solid $black-90;
                color: $black-90;

                &:focus,
                &:hover,
                &:active {
                  background-color: $black-90;
                  color: $white;
                  outline: none;
                }
              }
            }
          }

          &.white-background {
            background-color: $white !important;
            height: 100%;

            .field {
              color: $black-90;
            }

            .button {
              a {
                border: 2px solid $black-90;
                color: $black-90;

                &:focus,
                &:hover,
                &:active {
                  background-color: $black-90;
                  color: $white;
                  outline: none;
                }
              }
            }
          }

          &.green-background {
            background-color: $green !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.blue-background {
            background-color: $blue !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.orange-background {
            background-color: $orange !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.pink-background {
            background-color: $pink !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.purple-background {
            background-color: $purple !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.red-background {
            background-color: $red !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.teal-background {
            background-color: $teal !important;
            height: 100%;

            .field {
              color: $white;
            }

            .button {
              a {
                border: 2px solid $white;
                color: $white;

                &:focus,
                &:hover,
                &:active {
                  background-color: $white;
                  color: $black-90;
                  outline: none;
                }
              }
            }
          }

          &.yellow-background {
            background-color: $yellow !important;
            height: 100%;
          }
        }
      }
    }
  }
}
