.paragraph-type-case-study {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 20px;

  @include respond-to(breakpoint-large) {
    padding: 50px 0;
  }

  > div {
    @include respond-to(breakpoint-large) {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: auto;
      max-width: 1000px;
    }

    > div {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      @include respond-to(breakpoint-medium) {
        max-width: 796px;
      }
      @include respond-to(breakpoint-large) {
        align-items: flex-start;
        flex-flow: row nowrap;
        max-width: 1000px;
      }

      h3 {
        @include font-size(22px);
        text-align: center;

        @include respond-to(breakpoint-large) {
          text-align: left;
        }
      }

      p {
        margin-top: 25px;
        text-align: center;

        @include respond-to(breakpoint-large) {
          text-align: left;
        }
      }

      &:first-of-type {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        @include respond-to(breakpoint-large) {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;
          width: calc(100%/3);
        }

        img {
          max-width: 280px;

          @include respond-to(breakpoint-large) {
            margin-top: 10px;
            max-width: 100%;
          }
        }
      }

      &:last-of-type {
        @include respond-to(breakpoint-large) {
          display: flex;
          flex-flow: column nowrap;
          margin-top: 0;
          padding-left: 75px;
          width: calc(100%/3*2);
        }
      }

      &:first-child {
        // CASE STUDY WITH LOGO
        &:nth-last-child(2),
        &:nth-last-child(2)~li {
          p {
            text-align: center;
            @include respond-to(breakpoint-large) {
              text-align: left;
            }
          }
        }

        // CASE STUDY WITHOUT LOGO
        &:nth-last-child(1) {
          p {
            text-align: center;

            @include respond-to(breakpoint-large) {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
