.paragraph {
  &.paragraph-type-content-with-aside {
    align-items: center;
    background-color: $white;
    color: $black-90;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0;
    padding: 50px 20px;

    @include respond-to(breakpoint-large) {
      flex-flow: row nowrap;
      max-width: 1000px;
      padding: 50px 0;
    }

    > div {
      align-items: center;
      background-color: $white;
      color: $black-80;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      @include respond-to(breakpoint-medium) {
        margin: 0 auto 25px;
        max-width: 728px;
        padding: 0;
      }

      @include respond-to(breakpoint-large) {
        align-items: flex-start;
        margin: 0;
        padding: 0 50px 0 0;
      }

      h2 {
        // margin-bottom: 25px;
        text-align: center;

        @include respond-to(breakpoint-large) {
          margin-bottom: 0;
          text-align: left;
        }
      }

      p+p {
        margin-top: 25px;
      }

      p {
        margin-top: 25px;
        text-align: center;

        @include respond-to(breakpoint-large) {
          text-align: left;
        }

        em {
          font-style: italic;
        }

        strong {
          font-family: $body-font-heavy;
          font-weight: bold;
        }
      }
    }

    aside {
      background-color: $black-90;
      padding: 20px;
      width: 100%;

      @include respond-to(breakpoint-small) {
        max-width: 374px;
      }

      @include respond-to(breakpoint-medium) {
        max-width: 612px;
      }

      @include respond-to(breakpoint-large) {
        margin: 0;
        max-width: 285px;
        width: 285px;
      }

      h3 {
        color: $green;
      }

      ul {
        border-top: 1px solid $black-60;
        list-style: none;
        margin: 20px auto 0;
        padding: 0 0 0 20px;

        @include respond-to(breakpoint-large) {
          margin: 10px 0 0;
          padding: 0 10px 0 14px;
        }

        li+li {
          margin-top: 0;
          position: relative;
        }

        li {
          line-height: 1.4;

          &:first-child {
            margin-top: 10px;
            position: relative;
          }

          &::before {
            @include font-size(12px);
            color: $green;
            content: '\276F';
            left: -12px;
            position: absolute;
            text-indent: 0;
            top: 4px;
          }

          a {
            border-bottom: 1px solid $black-90;
            color: $white;
            line-height: $base-line-height;
            text-decoration: none;

            &:visited {
              color: $white;
            }

            &:hover,
            &:active,
            &:focus {
              border-bottom: 1px solid $white;
              color: $white;
              cursor: pointer;
              outline: 0;
              text-decoration: none;
            }
          }
        }
      }

      p {
        @include font-size(14px);
        color: $black-60;
        font-style: italic;
      }
    }
  }
}
