.home-page-container {
  margin-top: 0;
}

.paragraph-type-hero-special {
  background-color: $black-90;
  background-image: url('../img/background-homepage-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
  text-align: center;

  @include respond-to(breakpoint-medium) {
    padding: 50px 0;
  }

  @include respond-to(breakpoint-large) {
    background-image: url('../img/hex-grid-wide.svg'), url('../img/background-homepage-hero.jpg');
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    padding: 5px 0;
  }

  > div {
    @include respond-to(breakpoint-large) {
      display: flex;
      flex-flow: column wrap;
      height: 342px;
      // height: 295px;
      margin: 60px auto;
      width: 960px;
    }
  }

  .field--name-field-hero-headline {
    @include respond-to(breakpoint-medium) {
      margin: auto;
      max-width: 490px;
    }
    @include respond-to(breakpoint-large) {
      margin: 0;
      order: 1;
      padding: 25px 100px 0 20px;
      text-align: left;
      width: 50%;
    }

    h1 {
      @include font-size(28px);
      color: $white;
      font-family: $body-font;
      line-height: 1.2;
    }
  }

  .field--name-field-hero-video {
    margin-top: 35px;

    @include respond-to(breakpoint-medium) {
      margin: 35px auto auto;
      width: 70%;
    }
    @include respond-to(breakpoint-large) {
      -webkit-margin-start: 0%;
      align-self: flex-end;
      margin: auto;
      order: 4;
      width: 50%;
    }

    .hero-landing-page__iframe-container {
      height: 157px;
      width: 280px;

      @include respond-to(breakpoint-small) {
        height: 188px;
        width: 334px;
      }
      @include respond-to(breakpoint-medium) {
        height: 286px;
        width: 510px;
      }
      @include respond-to(breakpoint-large) {
        height: 269px;
        width: 478px;
      }
    }
  }

  .field--name-field-hero-paragraph {
    &:nth-of-type(3n) {
      margin-top: 0;

      @include respond-to(breakpoint-small) {
        margin: auto;
        max-width: 490px;
      }
      @include respond-to(breakpoint-medium) {
        margin: 35px auto 25px;
        max-width: 490px;
      }
      @include respond-to(breakpoint-large) {
        margin: 0;
        order: 2;
        padding: 0 150px 0 20px;
        width: 50%;
      }
    }

    p {
      color: $white;
      padding: 35px 0 10px;
      text-align: center;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        padding: 0;
      }
      @include respond-to(breakpoint-large) {
        @include font-size(18px);
        letter-spacing: .5px;
        line-height: 1.3;
        margin: 0;
        padding: 25px 0;
        text-align: left;
        width: auto;
      }
    }
  }

  .button {
    &.button--green {
      margin-top: 15px;

      @include respond-to(breakpoint-large) {
        display: block;
        margin: 0;
        order: 3;
        padding: 6px 0 6px 20px;
        text-align: left;
        width: 50%;
      }
    }
  }
}
