// Content row with video or image media displaying in equal halves.
.split-halves {
  margin-top: 0;

  @include respond-to(breakpoint-large) {
    > .div__media {
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      > div.field + div.field {
        margin-top: 0;
      }

      > div {
        &.field {

          margin-top: 0;
          width: 100%;

          .field__item {
            margin-top: 0;

            > .paragraph {
              max-width: 612px;
              min-width: 612px;

              > .field {
                align-items: stretch;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: 50px 20px;

                p {
                  text-align: left;

                  &:first-of-type {
                    margin-top: 0;
                  }
                }
              }
            }
          }

          &:first-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            order: 1;
          }

          &:last-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            order: 2;
          }

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 612px;
            min-width: 612px;

            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: left;
              }

              p {
                text-align: left;
              }

              div {
                &[class*='button button--'] {
                  &:last-of-type {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Content row with video or image media displaying in reversed equal halves.
.split-halves-inverse {
  margin-top: 0;

  > .div__media {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    > div.field + div.field {
      margin-top: 0;
    }

    > div {
      &.field {
        margin-top: 0;
        width: 100%;

        .field__item {
          margin-top: 0;

          > .paragraph {

            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              p {
                text-align: left;

                &:first-of-type {
                  margin-top: 0;
                }
              }

              div {
                [class*='button button--'] {
                  &:last-of-type {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
        }

        &:first-of-type {
          align-items: stretch;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          order: 2;
        }

        &:last-of-type {
          align-items: stretch;
          // display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          order: 1;
        }

        > .paragraph {
          align-items: stretch;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin: auto;
          max-width: 612px;

          @include respond-to(breakpoint-large) {
            margin: unset;
          }

          > .field {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 50px 20px;

            @include respond-to(breakpoint-large) {
              padding: 50px 20px;
            }

            h2,
            h3 {
              text-align: center;

              @include respond-to(breakpoint-large) {
                text-align: left;
              }
            }

            p {
              text-align: center;

              @include respond-to(breakpoint-large) {
                text-align: left;
              }
            }

            .button {
              @include respond-to(breakpoint-small) {
                margin: 35px auto 0;
              }

              @include respond-to(breakpoint-large) {
                margin: 25px 0;
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(breakpoint-large) {
    > .div__media {
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      > div.field + div.field {
        margin-top: 0;
      }

      > div {
        &.field {
          margin-top: 0;
          width: 100%;

          .field__item {
            margin-top: 0;

            > .paragraph {
              max-width: 612px;
              min-width: 612px;

              > .field {
                align-items: stretch;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: 50px 20px;

                h2,
                h3 {
                  text-align: center;

                  @include respond-to(breakpoint-large) {
                    text-align: left;
                  }
                }

                p {
                  text-align: center;

                  @include respond-to(breakpoint-large) {
                    text-align: left;
                  }
                }

                p {
                  &:first-of-type {
                    margin-top: 0;
                  }
                }

                div {
                  [class*='button button--'] {
                    &:last-of-type {
                      margin-top: 15px;
                    }
                  }
                }
              }
            }
          }

          &:first-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            order: 2;
          }

          &:last-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            order: 1;
          }

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 612px;

            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              min-width: 612px;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              p {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Content row with video or image media spint into a thirds display.
.split-thirds {
  margin-top: 0;

  > .div__media {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    > div.field + div.field {
      margin-top: 0;
    }

    > div {
      &.field {
        margin-top: 0;

        .field__item {
          margin-top: 0;

          > .paragraph {
            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              p {
                text-align: center;

                &:first-of-type {
                  margin-top: 0;
                }

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              div {
                [class*='button button--'] {
                  &:last-of-type {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
        }

        &:first-of-type {
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          order: 2;

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 816px; // 408px
          }
        }

        &:last-of-type {
          align-items: stretch;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          order: 1;
          padding: 50px 20px 0;

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 408px;
          }
        }

        > .paragraph {
          align-items: stretch;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          > .field {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 50px 20px;

            h2,
            h3 {
              text-align: center;

              @include respond-to(breakpoint-large) {
                text-align: left;
              }
            }

            p {
              text-align: center;

              @include respond-to(breakpoint-large) {
                text-align: left;
              }
            }
          }

          div {
            [class*='button button--'] {
              &:last-of-type {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(breakpoint-large) {
    > .div__media {
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      > div.field + div.field {
        margin-top: 0;
      }

      > div {
        &.field {
          margin-top: 0;

          .field__item {
            margin-top: 0;

            > .paragraph {
              > .field {
                align-items: stretch;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: 50px 20px;

                h2,
                h3 {
                  text-align: center;

                  @include respond-to(breakpoint-large) {
                    text-align: left;
                  }
                }

                p {
                  text-align: center;

                  &:first-of-type {
                    margin-top: 0;
                  }

                  @include respond-to(breakpoint-large) {
                    text-align: left;
                  }
                }

                div {
                  &[class*='button button--'] {
                    &:last-of-type {
                      margin-top: 15px;
                    }
                  }
                }
              }
            }
          }

          &:first-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            order: 1;

            > .paragraph {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              max-width: 816px; // 408px
            }
          }

          &:last-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            order: 2;

            > .paragraph {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              max-width: 408px;
            }
          }

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              p {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }
            }

            div {
              &[class*='button button--'] {
                &:last-of-type {
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Content row with video or image media spint into an inversed thirds display.
.split-thirds-inverse {
  margin-top: 0;

  > .div__media {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    > div.field + div.field {
      margin-top: 0;
    }

    > div {
      &.field {
        margin-top: 0;

        .field__item {
          margin-top: 0;

          > .paragraph {

            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              p {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }

                &:first-of-type {
                  margin-top: 0;
                }
              }

              div {
                [class*='button button--'] {
                  &:last-of-type {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
        }

        &:first-of-type {
          align-items: stretch;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          order: 2;

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
          }
        }

        &:last-of-type {
          align-items: center;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          order: 1;

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
          }
        }

        > .paragraph {
          align-items: stretch;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          > .field {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 50px 20px 0;

            h2,
            h3 {
              text-align: center;

              @include respond-to(breakpoint-large) {
                text-align: left;
              }
            }

            p {
              text-align: center;

              @include respond-to(breakpoint-large) {
                text-align: left;
              }
            }
          }

          div {
            [class*='button button--'] {
              &:last-of-type {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(breakpoint-large) {
    > .div__media {
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      > div.field + div.field {
        margin-top: 0;
      }

      > div {
        &.field {

          margin-top: 0;

          &:first-of-type {
            max-width: calc(100%/3*2);
            min-width: 816px;
          }

          &:last-of-type {
            max-width: calc(100%/3*1);
            min-width: 408px;
          }

          .field__item {
            margin-top: 0;

            > .paragraph {

              > .field {
                align-items: stretch;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: 50px 20px;

                h2,
                h3 {
                  text-align: center;

                  @include respond-to(breakpoint-large) {
                    text-align: left;
                  }
                }

                p {
                  text-align: center;

                  @include respond-to(breakpoint-large) {
                    text-align: left;
                  }
                }

                p {
                  &:first-of-type {
                    margin-top: 0;
                  }
                }

                div {
                  [class*='button button--'] {
                    &:last-of-type {
                      margin-top: 15px;
                    }
                  }
                }
              }
            }
          }

          &:first-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            order: 2;

            > .paragraph {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              max-width: 816px; // 408px
            }
          }

          &:last-of-type {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            order: 1;

            > .paragraph {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              max-width: 408px;
            }
          }

          > .paragraph {
            align-items: stretch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            > .field {
              align-items: stretch;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              padding: 50px 20px;

              h2,
              h3 {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }

              p {
                text-align: center;

                @include respond-to(breakpoint-large) {
                  text-align: left;
                }
              }
            }

            div {
              [class*='button button--'] {
                &:last-of-type {
                  margin-top: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

div {
  &.split-halves,
  &.split-halves-inverse {
    > .div__media {
      > .field {
        div {
          &.paragraph-type-content {
            .button {
              &.button--green,
              &.button--white,
              &.button--black,
              &.button--grey {
                justify-content: center;

                @include respond-to(breakpoint-large) {
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }

      > .field--name-field-media {
        > .paragraph-type--media {
          > .field--name-field-media-video {
            > .video-embed-field-responsive-video {
              @include aspect-ratio(16, 9);
              height: 0;
              padding-bottom: 56.25%;
              padding-top: 0;
              position: relative;

              > iframe {
                height: 322px;
                position: inherit;
                width: 612px;
              }
            }
          }
        }
      }
    }
  }

  &.split-thirds,
  &.split-thirds-inverse {
    > .div__media {
      > .field {
        div {
          &.paragraph-type-content {
            > .field--name-field-content {
              @include respond-to(breakpoint-small) {
                padding: 50px 20px;
              }

              @include respond-to(breakpoint-medium) {
                padding: 25px 20px;
              }

              @include respond-to(breakpoint-large) {
                padding: 50px 0;
              }
            }

            .button {
              &.button--green,
              &.button--white,
              &.button--black,
              &.button--grey {
                justify-content: center;

                @include respond-to(breakpoint-small) {
                  margin-top: 25px;
                }
                @include respond-to(breakpoint-large) {
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }

      > .field--name-field-media {
        margin-top: 0;

        > .paragraph-type--media {
          > .field--name-field-media-photo {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 25px 0;

            @include respond-to(breakpoint-medium) {
              padding: 0;
            }

            @include respond-to(breakpoint-large) {
              align-items: unset;
              display: unset;
              justify-content: unset;
              padding: 25px 20px;
            }
          }

          > .field--name-field-media-video {
            > .video-embed-field-responsive-video {
              @include aspect-ratio(16, 9);
              height: 0;
              padding-bottom: 56.25%;
              padding-top: 0;
              position: relative;

              > iframe {
                height: 207px;
                position: inherit;
                width: 408px;
              }
            }
          }
        }
      }
    }
  }
}
