.paragraph-type-card-collection {
  .card-collection {
    .paragraph-type-card + .paragraph-type-card {
      margin-top: 50px;

      @include respond-to(breakpoint-small) {
        margin-top: 0;
      }
      @include respond-to(breakpoint-medium) {
        margin-top: 0;
      }
      @include respond-to(breakpoint-large) {
        margin-top: 0;
      }
    }

    .paragraph-type-card {
      .card__icon {
        .svg {
          height: 130px;
          width: 130px;
        }
      }

      .card__heading {
        margin-top: 10px;
        min-width: 200px;
        text-align: center;
        text-transform: uppercase;
      }

      .card__content {
        margin-bottom: 3px;
        margin-top: 5px;
        min-width: 200px;
        text-align: center;
      }

      .card__cta {
        margin-top: 10px;
      }
    }
  }
}

.paragraph-type-card,
.paragraph-type-card-collection,
.paragraph-type-case-study {
  &.grey-light-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $black-90;
        color: $black-90;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $black-90;
          color: $white;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $black-90;
        }
      }
    }
  }

  &.grey-dark-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $black-90;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $white;
        }
      }
    }
  }

  &.white-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $black-80;
        color: $black-80;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $black-80;
          color: $white;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $black-80;
        }
      }
    }
  }

  &.green-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $green;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $green;
        }
      }
    }
  }

  &.blue-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $blue;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $blue;
        }
      }
    }
  }

  &.orange-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $orange;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $orange;
        }
      }
    }
  }

  &.pink-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $pink;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $pink;
        }
      }
    }
  }

  &.purple-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $purple;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $purple;
        }
      }
    }
  }

  &.red-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $red;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $red;
        }
      }
    }
  }

  &.teal-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $teal;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $teal;
        }
      }
    }
  }

  &.yellow-background {
    .card__cta,
    .case-study__cta {
      display: flex;

      a {
        @include font-size(16px);
        border: 2px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;

        @include respond-to(breakpoint-small) {
          white-space: nowrap;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white;
          color: $yellow;
          outline: none;
        }

        &:link {
          -webkit-tap-highlight-color: $yellow;
        }
      }
    }
  }
}
