.block-ethoca-content {
  .sitemap {
    .sitemap-box-front {
      padding: 20px;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        max-width: 728px;
      }
      @include respond-to(breakpoint-large) {
        margin: auto;
        max-width: 1224px;
        padding: 25px 0 0;
      }
    }

    .sitemap-box-menu {
      padding: 50px 20px;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        max-width: 728px;
      }
      @include respond-to(breakpoint-large) {
        margin: auto;
        max-width: 1224px;
        padding: 0;
      }

      .sitemap-content {
        margin-top: 0;

        ul {
          margin: 0;

          li {
            margin-top: 10px;
          }
        }
      }
    }

    .sitemap-box-menu-secondary {
      padding: 50px 20px;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        max-width: 728px;
      }
      @include respond-to(breakpoint-large) {
        margin: auto;
        max-width: 1224px;
        padding: 0 0 50px;
      }

      .sitemap-content {
        margin-top: 0;

        ul {
          margin: 0;

          li {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.sitemap {
  .sitemap-box-secondary {
    ul {
      padding-left: 25px;
    }
  }
}
