.page-node-type-news {
  .block-ethoca-content {
    article {
      margin: 0;
      padding: 50px 20px;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        padding: 50px 20px;
      }
      @include respond-to(breakpoint-large) {
        margin: auto;
        padding: 25px 0 50px;
      }
    }
  }
}

.page-node-type-event {
  .block-ethoca-content {
    article {
      margin: 0;
      padding: 50px 20px;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        padding: 50px 20px;
      }
      @include respond-to(breakpoint-large) {
        margin: auto;
        padding: 25px 0;
      }

      .button {
        &.button--grey {
          justify-content: flex-start;
        }
      }
    }
  }
}

.page-node-type-career {
  .block-ethoca-content {
    article {
      margin: 0;
      padding: 50px 20px;

      @include respond-to(breakpoint-medium) {
        margin: auto;
        padding: 50px 20px;
      }
      @include respond-to(breakpoint-large) {
        margin: auto;
        padding: 50px 0 25px;
      }

      .button {
        &.button--grey {
          justify-content: flex-start;
        }
      }
    }
  }
}

.field--name-field-careers {
  .views-row {
    margin-top: 25px;

    .views-field {
      margin-top: 0;
    }
  }
}
