.block-ethoca-content {
  .views-element-container {
    .views-event-date {
      margin: 0 !important;
      padding: 0 !important;

      .event-item {
        margin: 0;
        padding: 0;

        .event__date {
          margin: 0;
          padding: 0;
        }
      }
    }

    div {
      &[class*='js-view-dom-id-'] {
        padding: 50px 20px;

        @include respond-to(breakpoint-medium) {
          margin: auto;
          max-width: 728px;
        }
        @include respond-to(breakpoint-large) {
          margin: auto;
          max-width: 796px;
          padding: 50px 0;
        }

        .pager {
          ul {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li + li {
              margin-top: 0;
            }

            li {
              margin-right: 25px;

              &:last-of-type {
                margin-right: 0;
              }

              a {
                border-bottom: 1px solid $white;
                color: $black-90;
                line-height: $base-line-height;
                text-decoration: none;

                &:visited {
                  color: $black-90;
                }

                &:hover,
                &:active,
                &:focus {
                  border-bottom: 1px solid $black-90;
                  color: $black-90;
                  cursor: pointer;
                  outline: 0;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.press-release-item {
  &.views-row {
    border-top: 1px solid $green;
    margin-top: 50px;
    padding-top: 50px;

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }

    .press-release__title,
    .in-the-media__title,
    .blog__title {
      a {
        border-bottom: 1px solid $white;
        color: $black-90;
        line-height: $base-line-height;
        text-decoration: none;

        &:visited {
          color: $black-90;
        }

        &:hover,
        &:active,
        &:focus {
          border-bottom: 1px solid $black-90;
          color: $black-90;
          cursor: pointer;
          outline: 0;
          text-decoration: none;
        }
      }
    }

    .press-release__date,
    .in-the-media__date,
    .blog__date {
      color: $black-60;
      font-style: italic;
      margin-top: 10px;
    }

    p {
      margin-top: 10px;
    }
  }
}

.event-item {
  &.views-row {
    border-top: 1px solid $green;
    margin-top: 50px;
    padding-top: 50px;

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }

    .event__title {
      a {
        border-bottom: 1px solid $white;
        color: $black-90;
        line-height: $base-line-height;
        text-decoration: none;

        &:visited {
          color: $black-90;
        }

        &:hover,
        &:active,
        &:focus {
          border-bottom: 1px solid $black-90;
          color: $black-90;
          cursor: pointer;
          outline: 0;
          text-decoration: none;
        }
      }
    }

    .event__location {
      color: $black-60;
      font-style: italic;
      margin-top: 10px;
    }

    .event__date {
      color: $black-60;
      font-style: italic;
      margin-top: 2px;
    }

    p {
      margin-top: 10px;
    }
  }
}

audio,
video {
  display: inline-block;
  width: 100%;
}

.return-to-master-list {
  &.top-nav {
    margin-bottom: 25px;
    padding-left: 10px;

    @include respond-to(breakpoint-large) {
      margin-bottom: 25px;
    }
  }

  &.bottom-nav {
    margin: 0 0 25px;
    padding-left: 10px;

    @include respond-to(breakpoint-large) {
      margin: 35px 0 25px;
    }
  }

  a {
    border-bottom: 0;
    text-transform: uppercase;

    &:visited {
      color: $black-90;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid $black-90;
      color: $black-90;
      cursor: pointer;
      outline: 0;
      text-decoration: none;
    }

    &::before {
      @include font-size(12px);
      color: $green;
      content: '\276F';
      position: absolute;
      transform: translateX(-12px) translateY(3px) rotate(180deg);
    }
  }
}

.page-node-type-news,
.page-node-type-event,
.page-node-type-career {
  article {
    margin-top: 25px;

    @include respond-to(breakpoint-medium) {
      margin: auto;
      max-width: 728px;
    }

    @include respond-to(breakpoint-large) {
      margin-top: 25px;
    }

    &.news,
    &.event,
    &.career {
      p {
        margin-top: 25px;
      }

      h2,
      h3,
      h4 {
        margin-top: 25px;
      }

      h1 {
        @include font-size(36px);
      }

      .blog--meta-data {
        > .summary {
          color: $black-60;
          font-style: italic;
          margin-bottom: 5px;
          margin-top: 0;
        }

        > .date {
          color: $black-60;
          font-style: italic;
          margin-bottom: 5px;
          margin-top: 0;
        }

        > .location {
          color: $black-60;
          font-style: italic;
          margin-bottom: 5px;
          margin-top: 0;
        }

        > .department {
          color: $black-60;
          font-style: italic;
          margin-bottom: 5px;
          margin-top: 0;
        }
      }
    }
  }
}
