// Sass functions

// Convert px to em
// Resource: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

// Convert px to rem
// Resource: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
@function rem($px, $base: $base-font-size) {
  @return ($px / $base) * 1rem;
}

// Remove the unit of a length
// source: https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
