// Breakpoints
$breakpoints: (
  'breakpoint-small': ( min-width: 23.4375em ),
  'breakpoint-medium': ( min-width: 48em ),
  'breakpoint-large': ( min-width: 76.5em )
);

// Set responsive breakpoints.
@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else { // If the key doesn't exist in the map
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// Set a element's font size with REM and a PX fallback.
$pixelbase: 16;
@mixin font-size($sizevalue: 1.6) {
  font-size: strip-unit(($sizevalue * 10 / 10)) + px;
  font-size: strip-unit((($sizevalue * 10 / 10) / $pixelbase)) + rem;
}

// Force an aspect ratio for images.
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Space out elements evenly by detecting the number of siblings.
@mixin space-out($min, $max) {
  @for $i from $min through $max {
    &:first-child {
      &:nth-last-child(#{$i}),
      &:nth-last-child(#{$i})~& {
        width: 1 / $i * 100%;
      }
    }
  }
}

// Count the number of sibling elements.
@mixin has-nth($expression, $element: '*') {
  &:nth-last-child(#{$expression}) {
    &:first-child,
    &:first-child~#{$element} {
      @content;
    }
  }
}
@mixin at-least($quantity, $element: '*') {
  @include has-nth('n + #{$quantity}', $element) {
    @content;
  }
}

// Set a default value for all headings.
@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i},
    %h#{$i},
    .h#{$i} {
      @content;
    }
  }
}
