{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}

{#
{{ title_prefix }}
{% if title %}
  <h1{{ title_attributes }}>{{ title }}</h1>
{% endif %}
{{ title_suffix }}
#}

{% if '/press-releases' in url %}
<div class="grey-dark-background news-hero-press-releases">
  <h1 class="hero__page-title">{{ 'Press Releases'|t }}</h1>
</div>
{% elseif '/blog' in url %}
<div class="grey-dark-background news-hero-blog">
  <h1 class="hero__page-title">{{ 'Blog'|t }}</h1>
</div>
{% elseif '/in-the-media' in url %}
<div class="grey-dark-background news-hero-in-the-media">
  <h1 class="hero__page-title">{{ 'In the Media'|t }}</h1>
</div>
{% elseif '/event' in url %}
<div class="grey-dark-background events-hero">
  <h1 class="hero__page-title">{{ 'Events'|t }}</h1>
</div>
{% elseif '/career' in url %}
<div class="grey-dark-background careers-hero">
  <h1 class="hero__page-title">{{ 'Careers'|t }}</h1>
</div>
{% elseif '/leadership' in url %}
<div class="grey-dark-background leadership-hero">
  <h1 class="hero__page-title">{{ 'Leadership'|t }}</h1>
</div>
{% elseif '/sitemap' in url %}
<div class="grey-dark-background sitemap-hero">
  <h1 class="hero__page-title">{{ 'Sitemap'|t }}</h1>
</div>
{% endif %}
