// Resource: previousnext.com.au/blog/so-many-ways-hide
// Resource: www.w3.org/WAI/tutorials/fundamentals/hiding/

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visuallyhidden class toallow the element to be focusable when
  // navigated to via the keyboard: h5bp.com/p
  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}
