// Base CSS
html {
  box-sizing: border-box;
  height: 100%;
  letter-spacing: .5px;
  margin: 0;
  position: relative;
  width: 100%;

  &:lang(fr) {
    .ultimenu__flyout {
      // margin-left: calc(-50vw + 50% - 107px);
    }

    .field--name-field-hero-headline {
      padding: 10px 20px 0;

      @include respond-to(breakpoint-large) {
        padding: 10px 100px 0 20px;
      }
    }

    .field--name-field-hero-paragraph {
      p {
        padding: 15px 0;
      }
    }

    .paragraph-id-173 {
      q {
        @include font-size(13px);
      }
    }

    .ultimenu {
      > .ultimenu__item {
        > .ultimenu__link {
          @include font-size(11px);
        }
      }
    }
  }

  &:lang(es) {
    .ultimenu__flyout {
      // margin-left: calc(-50vw + 50% - 107px);
    }

    .field--name-field-hero-headline {
      padding: 5px 20px 0;

      @include respond-to(breakpoint-large) {
        padding: 5px 100px 0 20px;
      }
    }

    .field--name-field-hero-paragraph {
      p {
        padding: 20px 0;
      }
    }

    .paragraph-id-173 {
      q {
        @include font-size(13px);
      }
    }
  }

  &:lang(pt) {
    .ultimenu__flyout {
      // margin-left: calc(-50vw + 50% - 107px);
    }

    .field--name-field-hero-headline {
      padding: 5px 20px 0;

      @include respond-to(breakpoint-large) {
        padding: 5px 100px 0 20px;
      }
    }

    .field--name-field-hero-paragraph {
      p {
        padding: 20px 0;
      }
    }

    .paragraph-id-173 {
      q {
        @include font-size(13px);
      }
    }
  }

  &:lang(zh) {
    .ultimenu__flyout {
      // margin-left: calc(-50vw + 50% - 283px);
    }

    .field--name-field-hero-headline {
      padding: 5px 20px 0;

      @include respond-to(breakpoint-large) {
        padding: 60px 100px 0 20px;
      }
    }

    .field--name-field-hero-paragraph {
      p {
        padding: 20px 0;
      }
    }

    .field--name-field-hero-headline {
      h1 {
        @include font-size(26px);
      }
    }

    .paragraph-id-173 {
      q {
        @include font-size(13px);
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* + * {
  margin-top: 25px;
}

body {
  min-height: 100%;

  // These values will not show up in content, but can be queried by
  // JavaScript to know which breakpoint is active. Add or remove as
  // many breakpoints as is required.
  &::before {
    content: 'small';
    display: none;
  }
  @include respond-to(breakpoint-medium) {
    &::before {
      content: 'medium';
      display: none;
    }
  }
  @include respond-to(breakpoint-large) {
    &::before {
      content: 'large';
      display: none;
    }
  }
}

#window-resizer-tooltip {
  span,
  br {
    margin: 0;
  }
}

.dialog-off-canvas-main-canvas {
  margin-top: 0;
}

.layout-container {
  margin-top: 0;
}

// Header Section
header {
  background-color: $white;
  margin: 0 auto;

  > .wrapper {
    margin: 0 auto;
  }
}

// Main Section
main {
  background-color: $white;
  margin: 0 auto;

  > .l-container {
    margin: 0 auto;
  }
}

// Top Scroll Toggle
.top {
  display: none;
}

// Footer Section
footer {
  background-color: $white;
  margin: 0 auto;

  > .wrapper {
    margin: 0 auto;
  }
}
