// Greyscale
$black: #000;
$white: #fff;
$grey: #ccc;
$grey-light: #eee;

$color1: #777;
$color2: #111;
$color3: #222;

// Primary Colors
$green: #94c949;
$black-90: #414042; // 90% Black
$black-80: #58595b; // 80% Black
$black-60: #808285; // 60% Black
$black-20: #d1d3d4; // 20% Black

// Secondary Colors
$blue: #4d81c2;
$orange: #f79648;

// Tertiary Colors
$pink: #b055a1;
$purple: #6755a4;
$teal: #48acc6;
$yellow: #f4c12d;
$red: #ca5852;

// Debugging
$debug-blue: rgb(0, 0, 160);
$debug-red: rgb(160, 0, 0);
$debug-green: rgb(0, 160, 0);
$debug-colors: $debug-red, $debug-green, $debug-blue !global;
