// Fonts

// Syntax to import web fonts from Google Fonts.
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

// Include self-hosted font families.
// Resource: https://css-tricks.com/snippets/css/using-font-face/
@font-face {
  font-display: auto;
  font-family: 'Helvetica Neue LT Std - 45 Light';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Light'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: 'Helvetica Neue LT Std - 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue'), url('../fonts/HelveticaNeue.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: 'Helvetica Neue LT Std - 56 Italic';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Italic'), url('../fonts/HelveticaNeue-Italic.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: 'Helvetica Neue LT Std - 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Medium'), url('../fonts/HelveticaNeue-Medium.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: 'Helvetica Neue LT Std - 66 Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-BoldItalic'), url('../fonts/HelveticaNeue-BoldItalic.woff') format('woff');
}

// Default font variables.
$body-font: 'Helvetica Neue LT Std - 45 Light', sans-serif;
$body-font-heavy: 'Helvetica Neue LT Std - 55 Roman', sans-serif;
$body-font-italic: 'Helvetica Neue LT Std - 56 Italic', sans-serif;
$title-font: 'Helvetica Neue LT Std - 65 Medium', sans-serif;
$title-font-italic: 'Helvetica Neue LT Std - 66 Italic', sans-serif;

// Base font size and line height.
// Resource: http://typecast.com/blog/a-more-modern-scale-for-web-typography
// Reference: https://pearsonified.com/2011/12/golden-ratio-typography.php
// Reference: https://pearsonified.com/typography/
$base-font-size: 18px;
$base-line-height: 1.4;
