html {
  // Reference: https://css-tricks.com/html-vs-body-in-css/
  background-color: $white;
  color: $black-80;
  font-family: $body-font;
  font-size: 100%;

  // font-size: $base-font-size;
  // -webkit-text-size-adjust: 100%;
  // -moz-text-size-adjust: none;
  // -ms-text-size-adjust: 100%;

  // Hack below is to reduce font rendering differences on Safari and Firefox.
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // opacity: 0.99;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: .5;
}

// Set default values for headings.
@include headings {
  font-family: $title-font;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

// H1 = 36px / H2 = 24px / H3 = 21px / H4 = 18px / H5 = 14px / H6 = 12px
// P = 16px
// L = 48px / XL = 60px
// Heading font sizes and line heights for breakpoints.
// Resource: http://typecast.com/blog/a-more-modern-scale-for-web-typography
h1,
%h1 {
  @include font-size(36px);
  font-family: $body-font;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: $base-line-height;
}

h2,
%h2 {
  @include font-size(24px);
  color: $black-80;
  font-family: $title-font;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: $base-line-height;

  @include respond-to(breakpoint-medium) {
    font-weight: normal;
  }
}

h3,
%h3 {
  @include font-size(18px);
  font-family: $title-font;
  letter-spacing: 1px;
  line-height: $base-line-height;
}

h4,
%h4 {
  @include font-size(18px);
  letter-spacing: 1px;
  line-height: $base-line-height;
}

p,
pre {
  @include font-size(16px);
  font-family: $body-font;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

blockquote {
  @include font-size(18px);
  line-height: $base-line-height;
}

q {
  @include font-size(16px);
  font-family: $title-font;
  line-height: $base-line-height;

  &::before {
    padding: 0 3px 0 0;
  }

  &::after {
    padding: 0 0 0 3px;
  }
}

address {
  @include font-size(16px);
  font-style: normal;
  line-height: $base-line-height;
}

img,
object,
iframe {
  max-width: 100%;
}

sub,
sup {
  // Prevent sup and sub from rendering text-decoration/
  display: inline-block;

  // Specified in % so that the sup/sup is the right size relative to the
  // surrounding text.
  font-size: 75%;

  // Zero out the line-height so that it doesn't interfere with the positioning
  // that follows.
  line-height: 0;

  // makes all browsers position the sup/sup properly, relative to the
  // surrounding text.
  position: relative;
}

sup {
  // Move the superscripted text up.
  top: -.3em;
}

sub {
  // Move the subscripted text down, but only half as far down as the
  // superscript moved up.
  bottom: -.25em;
}

/*
// Heading debug colours.
h1,
%h1 {
  &:after {
    content: " (H1)";
    color: $debug-red;
  }
}

h2,
%h2 {
  &:after {
    content: " (H2)";
    color: $debug-red;
  }
}

h3,
%h3 {
  &:after {
    content: " (H3)";
    color: $debug-red;
  }
}

h4,
%h4 {
  &:after {
    content: " (H4)";
    color: $debug-red;
  }
}

h5,
%h5 {
  &:after {
    content: " (H5)";
    color: $debug-red;
  }
}

h6,
%h6 {
  &:after {
    content: " (H6)";
    color: $debug-red;
  }
}
*/
