.button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0 0;
  padding: 0;

  &.button--grey {
    a {
      @include font-size(16px);
      border: 2px solid $black-80;
      color: $black-80;
      font-weight: bold;
      padding: 6px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @include respond-to(breakpoint-large) {
        text-align: left;
        white-space: nowrap;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $black-80;
        color: $white;
        outline: none;
      }

      &:link {
        -webkit-tap-highlight-color: $black-80;
      }
    }
  }

  &.button--green {
    a {
      @include font-size(16px);
      border: 2px solid $green;
      color: $green;
      font-weight: bold;
      padding: 6px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @include respond-to(breakpoint-large) {
        text-align: left;
        white-space: nowrap;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $green;
        color: $white;
        outline: none;
      }

      &:link {
        -webkit-tap-highlight-color: $green;
      }
    }
  }

  &.button--white {
    a {
      @include font-size(16px);
      border: 2px solid $white;
      color: $white;
      font-weight: bold;
      padding: 6px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @include respond-to(breakpoint-large) {
        text-align: left;
        white-space: nowrap;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $white;
        color: $black-90;
        outline: none;
      }

      &:link {
        -webkit-tap-highlight-color: $white;
      }
    }
  }

  &.button--black {
    a {
      @include font-size(16px);
      border: 2px solid $black-90;
      color: $black-90;
      font-weight: bold;
      padding: 6px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @include respond-to(breakpoint-large) {
        text-align: left;
        white-space: nowrap;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $black-90;
        color: $white;
        outline: none;
      }

      &:link {
        -webkit-tap-highlight-color: $black-90;
      }
    }
  }
}

.take-action {
  .button {
    padding: 6px 0;
  }
}

.events__hightlighted,
.events__upcoming {
  .button {
    margin-top: 15px;
  }
}
