.paragraph-type-careers {
  margin-top: 0;
  padding: 25px 20px 0;

  @include respond-to(breakpoint-medium) {
    margin: auto;
    max-width: 728px;
  }

  @include respond-to(breakpoint-large) {
    margin: auto;
    max-width: 1224px;
    padding: 35px 0;
  }

  .field--name-field-careers {
    .views-element-container {
      div {
        &[class*='js-view-dom-id-'] {
          align-items: baseline;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          padding: 0;

          @include respond-to(breakpoint-large) {
            align-items: unset;
            column-count: 3;
            column-gap: 35px;
            display: block;
            flex-flow: unset;
            justify-content: unset;
            margin: auto;
            max-width: 796px;
          }

          table {
            &.cols-0 {
              border-collapse: separate;
              border-spacing: 0 10px;
              break-inside: avoid;
              margin-bottom: 25px;
              margin-top: 0;
              width: 100%;

              caption {
                @include font-size(18px);
                border-bottom: 1px solid $green;
                font-family: $title-font;
                padding-bottom: 5px;
                text-align: left;
              }

              tbody {
                display: block;
                margin-top: 0;
                min-height: 75px;

                tr+tr {
                  margin-top: 0;
                }

                tr {
                  margin-top: 0;

                  td {
                    div {
                      &:last-of-type {
                        margin-top: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .field--name-field-careers-location-filter {
    .views-element-container {
      div {
        &[class*='js-view-dom-id-'] {
          display: none;

          @include respond-to(breakpoint-large) {
            align-items: baseline;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
          }

          .careers-location-nav {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-top: 0;

            .filter-by-location {
              margin: 0 5px 0 0;
            }

            .careers-location-nav__list {
              align-items: center;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              list-style: none;
              margin: 25px 0;
              padding: 0 10px;

              .careers-location-nav__item {
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

.is-visible {
  display: table-row;
}

.is-hidden {
  display: none;
}
