.paragraph-type-clients {
  background-color: $white;
  margin-top: 0;
  padding: 50px 0 20px;
  text-align: center;

  h2 {
    margin-bottom: 0;
    text-align: center;
  }

  .clients__collection {
    margin-top: 0;

    .views-element-container {
      > div {
        align-items: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        @include respond-to(breakpoint-medium) {
          flex-flow: row wrap;
          margin: 0;
        }
        @include respond-to(breakpoint-large) {
          margin: 0 auto;
          max-width: 1000px;
        }


        .clients__logo {
          display: flex;
          filter: grayscale(100%);
          flex-flow: column nowrap;
          justify-content: center;
          margin: 0 auto 30px;
          width: 300px;

          &:nth-of-type(-n+4) {
            display: block;
          }

          &:nth-of-type(n+5) {
            display: none;
          }

          @include respond-to(breakpoint-medium) {
            width: 190px;

            &:nth-of-type(-n+8) {
              display: block;
            }

            &:nth-of-type(n+9) {
              display: none;
            }
          }

          @include respond-to(breakpoint-large) {
            width: 235px;

            &:nth-of-type(n+9) {
              display: block;
            }
          }

          &:hover,
          &:active,
          &:focus {
            filter: none;
          }
        }
      }
    }
  }
}
