// https://www.daretothink.co.uk/stop-ios-styling-your-input-fields-and-buttons/
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  .text {
    -webkit-appearance: none;
    border-radius: 0;
  }

  &[type='text'],
  &[type='email'],
  &[type='tel'],
  &[type='button'],
  &[type='submit'] {
    -webkit-appearance: none;
    border-radius: 0;
  }

  &[required] {
    background-color: $grey-light;

    &::after {
      content: ' *';
    }
  }
}

.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

label {
  &::after {
    color: $debug-red;
    content: ' *';
  }
}

.path-user {
  .block-ethoca-content {
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 1224px;
    padding: 15px 0 50px;
  }
}

.select2 {
  .selection {
    .select2-selection {
      &.select2-selection--single {
        .select2-selection__arrow {
          margin-top: 0;
        }
      }
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    background-color: $white;
    border: 1px solid #aaa;
    border-radius: 0;

    .select2-selection__rendered {
      line-height: normal;
      padding: 10px;
    }

    .select2-selection__arrow {
      height: 40px;
    }
  }
}

.select2-results__options {
  li+li {
    margin-top: 0;
  }
}

.select2-container {
  .select2-selection--single {
    height: inherit;
  }
}

.select2-results {
  margin-top: 0;
}

.webform-select-other-input {
  margin-top: 5px !important;
}

#edit-default-value-input-field-category > div {
  &:nth-child(1) {
    display: none;
  }
}
