.paragraph-type-highlight {
  -webkit-box-pack: center;
  align-items: center;
  background-color: $black-80;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 0;
  padding: 0;

  @include respond-to(breakpoint-large) {
    flex-flow: row nowrap;
  }

  > div + div {
    margin-top: 0;
  }

  > div {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 25px 15px;
    position: relative;

    @include respond-to(breakpoint-large) {
      padding: 15px 0;
    }

    &:first-of-type,
    .highlight__breaking-news {
      align-items: center;
      background-color: $green;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 100%;

      @include respond-to(breakpoint-large) {
        justify-content: flex-end;
      }

      .field--name-body {
        .field--name-body {
          &.field__items {
            @include respond-to(breakpoint-small) {
              max-width: 512px;
            }

            @include respond-to(breakpoint-medium) {
              max-width: 512px;
            }

            @include respond-to(breakpoint-large) {
              max-width: 612px;
            }
          }
        }

        .field__item {
          align-items: center;
          background-image: url('../img/icon-breaking-news.svg');
          background-position: -17px center;
          background-repeat: no-repeat;
          background-size: 110px;
          display: flex;
          justify-content: center;
          max-width: 512px;
          min-height: 75px;
          width: 100%;

          @include respond-to(breakpoint-large) {
            background-position: left center;
            max-width: 612px;
            padding-right: 60px;
          }
        }
      }

      p {
        padding-left: 95px;

        a {
          border-bottom: 1px solid $green;
          color: $white;
          text-decoration: none;

          &:hover,
          &:active,
          &:focus {
            border-bottom: 1px solid $white;
            color: $white;
          }
        }
      }
    }

    &:last-of-type,
    .highlight__awards {
      align-items: center;
      background-color: $black-80;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 100%;

      @include respond-to(breakpoint-large) {
        justify-content: flex-start;
      }

      .field--name-body {
        &.field__items {
          @include respond-to(breakpoint-small) {
            max-width: 512px;
          }

          @include respond-to(breakpoint-medium) {
            max-width: 512px;
          }

          @include respond-to(breakpoint-large) {
            max-width: 612px;
            padding-left: 50px;
          }
        }

        .field__item {
          align-items: center;
          background-image: url('../img/icon-awards.svg');
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 75px;
          display: flex;
          justify-content: center;
          max-width: 512px;
          min-height: 75px;
          width: 100%;

          @include respond-to(breakpoint-medium) {
            align-items: center;
            display: flex;
            justify-content: center;
            max-width: 512px;
            width: 100%;
          }

          @include respond-to(breakpoint-large) {
            max-width: 612px;
          }
        }
      }

      p {
        padding-left: 95px;

        a {
          border-bottom: 1px solid $black-80;
          color: $white;
          text-decoration: none;

          &:hover,
          &:active,
          &:focus {
            border-bottom: 1px solid $white;
            color: $white;
          }
        }
      }
    }
  }
}
