.block-language-switcher {
  margin-top: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $green;

    li + li {
      margin-top: 0;
    }

    li {
      &.en,
      &.fr {
        cursor: pointer;
        padding: 7px 10px 11px;

        &.is-active {
          display: none;
        }
      }

      a {
        @include font-size(12px);
        border-bottom: none;
        color: $white;
        font-weight: bold;
        // letter-spacing: 1px;
        text-decoration: none;
      }
    }
  }
}

.block-dropdown-language {
  background-color: $green;
  margin-top: 0;
  position: relative;
  z-index: 10;

  .dropbutton-wrapper {

    .dropbutton-widget {
      ul {
        padding: 7px 10px 11px;

        li {
          span {
            @include font-size(12px);
            border-bottom: none;
            color: $white;
            font-weight: bold;
            // letter-spacing: 2px;
            text-decoration: none;
            top: 20px;
          }

          &.dropbutton-toggle {
            top: -24px !important;
          }

          &.en,
          &.fr,
          &.es,
          &.pt-br,
          &.zh-hans {
            a {
              @include font-size(12px);
              border-bottom: none;
              color: $white;
              font-weight: bold;
              // letter-spacing: 2px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.dropbutton-multiple.open .dropbutton-arrow {
  border-top-color: unset;
}

.dropbutton-action {
  cursor: pointer;
}

.block-dropdown-language-mobile {
  background-color: $green;
  margin: 0;
  padding: 3px 0 2px;
  position: absolute;
  right: 60px;
  top: 0;
  z-index: 10;

  @include respond-to(breakpoint-medium) {
  }
  @include respond-to(breakpoint-large) {
    display: none;
  }

  .dropbutton-wrapper {

    .dropbutton-widget {
      ul {
        padding: 9px 10px;

        li {
          span {
            @include font-size(18px);
            border-bottom: none;
            color: $white;
            // font-weight: bold;
            // letter-spacing: 2px;
            text-decoration: none;
            top: 20px;
          }

          &.dropbutton-toggle {
            top: -24px !important;
          }

          &.en,
          &.fr,
          &.es,
          &.pt-br,
          &.zh-hans {
            a {
              @include font-size(18px);
              border-bottom: none;
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
