.paragraph {
  &.paragraph-type-leadership {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 20px;

    @include respond-to(breakpoint-medium) {
      padding: 25px 0;
    }

    div + div {
      margin-top: 0;
    }

    .views-element-container {
      margin-top: 0;

      .leadership {
        padding: 0;

        @include respond-to(breakpoint-large) {
          max-width: 1000px;
          width: 1000px;
        }

        .views-view-grid {
          margin-top: 25px;

          .leadership__row+.leadership__row {
            margin-top: 75px;

            @include respond-to(breakpoint-medium) {
              margin-top: 25px;
            }
          }

          .leadership__row {
            @include respond-to(breakpoint-medium) {
              align-items: stretch;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
            }

            @include respond-to(breakpoint-small) {
              justify-content: space-evenly;
            }

            .leadership__column {
              background-color: transparent;
              justify-content: center;
              margin: 75px 5px 25px;
              max-width: 250px;
              min-width: 200px;
              position: relative;
              text-align: center;

              @include respond-to(breakpoint-medium) {
                align-items: stretch !important;
                display: flex;
                flex: 1;
                flex-flow: row wrap !important;
                margin-top: 0;
                max-width: 200px;
              }

              &:first-of-type {
                margin-top: 0;
              }

              .leadership-name {
                margin-top: 10px;
                min-width: 200px;
                text-transform: uppercase;
              }

              .leadership-title {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-bottom: 3px;
                margin-top: 5px;
                min-height: 45px;
                min-width: 200px;
              }

              .leadership-cta {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                vertical-align: bottom;

                a {
                  @include font-size(16px);
                  border: 2px solid $black-80;
                  color: $black-80;
                  display: block;
                  font-weight: bold;
                  padding: 6px 15px;
                  text-decoration: none;
                  text-transform: uppercase;
                  white-space: normal;

                  &:visited {
                    color: $black-80;
                  }

                  &:hover,
                  &:active,
                  &:focus {
                    background-color: $black-80;
                    border-bottom: 2px solid $black-80;
                    color: $white;
                    cursor: pointer;
                    outline: 0;
                    text-decoration: none;
                  }
                }
              }

              .leadership-headshot {
                display: inline-flex;
                height: 130px;
                width: 130px;

                a {
                  @include aspect-ratio(1, 1);
                  align-items: baseline;
                  border-bottom: 0;
                  display: inline-flex;
                  text-decoration: none;

                  &:hover,
                  &:active,
                  &:focus {
                    border-bottom: 0;
                    cursor: pointer;
                    outline: 0;
                    text-decoration: none;
                  }

                  img {
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    h2 {
      margin-top: 0;
      text-align: center;
    }
  }
}

.page-node-type-leadership-member {
  .block-ethoca-content {
    article {
      margin: 0;
      padding: 50px 0 0;

      .return-to-leadership {
        @include respond-to(breakpoint-large) {
          margin: auto;
          max-width: 1000px;
        }

        &.top-nav {
          margin-bottom: 25px;
          padding: 0 20px 0 35px;

          @include respond-to(breakpoint-large) {
            margin-bottom: 25px;
          }
        }

        &.bottom-nav {
          padding-left: 15px;

          @include respond-to(breakpoint-large) {
            margin: auto;
            margin-top: 50px;
          }
        }

        a {
          border-bottom: 0;
          text-transform: uppercase;

          &:visited {
            color: $black-90;
          }

          &:hover,
          &:active,
          &:focus {
            border-bottom: 1px solid $black-90;
            color: $black-90;
            cursor: pointer;
            outline: 0;
            text-decoration: none;
          }

          &::before {
            @include font-size(12px);
            color: $green;
            content: '\276F';
            position: absolute;
            transform: translateX(-12px) translateY(3px) rotate(180deg);
          }
        }
      }

      .leadership {
        align-content: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 0 0 50px;

        > div {
          padding: 0 20px;
        }

        div+div {
          margin-top: 0;
        }

        @include respond-to(breakpoint-large) {
          align-content: center;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          margin: 0 auto 50px;
          max-width: 1000px;
          padding: 0;

          > div {
            &:first-child {
              align-items: center;
              display: flex;
              width: calc(100% / 3);
            }

            &:last-child {
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-start;
              margin-top: 0px;
              padding: 0 0 0 75px;
              width: calc(100% / 3 * 2);

              .button {
                justify-content: flex-start;
              }

              h2,
              h3,
              p {
                text-align: left;
              }
            }
          }
        }

        h3 {
          font-style: italic;
        }

        p {
          margin-top: 25px;
          text-align: center;
        }

        .leadership__headshot {
          display: flex;
          justify-content: center;
          margin: 0;

          picture {
            img {
              margin: 0;
            }
          }
        }

        .leadership__title,
        .leadership__name,
        .leadership__bio {
          align-content: center;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin: 0;
          text-align: center;
        }

        .leadership__name {
          margin-top: 25px;
        }

        .leadership__title {
          @include font-size(16px);
          font-family: $body-font;
          font-style: italic;
          font-weight: bolder;
          margin-top: 25px;
        }

        .button {
          align-content: center;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin-top: 25px;

          @include respond-to(breakpoint-large) {
            flex-flow: unset;
          }
        }
      }

      .supplement {
        background-color: $grey-light;
        padding: 50px 20px;

        @include respond-to(breakpoint-large) {
          margin-top: 0;
        }

        h2,
        p {
          text-align: center;
        }

        p {
          margin-top: 25px;
        }
      }
    }
  }
}
