// STANDARD LINKS
%link,
a {
  border-bottom: 1px solid $black-90;
  color: $black-90;
  line-height: $base-line-height;
  text-decoration: none;

  &:visited {
    color: $black-90;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom: 0;
    color: $black-90;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
  }
}

// WHITE LINKS
a {
  &.white {
    border-bottom: 1px solid $white;
    color: $white;
    line-height: $base-line-height;
    text-decoration: none;

    &:visited {
      color: $white;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid $black-90;
      color: $white;
      cursor: pointer;
      outline: 0;
      text-decoration: none;
    }
  }
}
