.block-ethoca-branding {
  a {
    border-bottom: 0;
    display: block;
    text-decoration: none;

    img {
      display: block;
      height: 48px;
      width: auto;

      @include respond-to(breakpoint-medium) {
        height: 65px;
      }
      @include respond-to(breakpoint-large) {
        height: 68px;
      }
    }
  }
}
