.context-home {
  h1 {
    display: none;
  }
}

.page-node-type-news,
.page-node-type-event,
.page-node-type-career {
  .block-ethoca-page-title {
    background-color: $grey-light;

    h1 {
      color: $black-90 !important;
      text-align: center;

      span {
        display: none;
      }
    }
  }
}

.block-ethoca-page-title {
  div {
    &[class*='news-hero'],
    &[class*='careers-hero'],
    &[class*='events-hero'],
    &[class*='sitemap-hero'],
    &[class*='leadership-hero'] {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px 0;

      @include respond-to(breakpoint-large) {
        padding: 75px 0;
      }

      h1 {
        color: $white !important;
        text-align: center;
      }
    }

    &[class*='news-hero-press-releases'] {
      background-image: url('/sites/default/files/images/background-images/hero-about-us-press-releases-optimized.jpg');
    }

    &[class*='news-hero-in-the-media'] {
      background-image: url('/sites/default/files/images/background-images/hero-about-us-in-the-media-optimized.jpg');
    }

    &[class*='news-hero-blog'] {
      background-image: url('/sites/default/files/images/background-images/hero-blog-optimized.jpg');
    }

    &[class*='careers-hero'] {
      background-image: url('/sites/default/files/images/background-images/hero-about-us-careers-optimized.jpg');
    }

    &[class*='events-hero'] {
      background-image: url('/sites/default/files/images/background-images/hero-about-us-events-optimized.jpg');
    }

    &[class*='leadership-hero'] {
      background-image: url('/sites/default/files/images/background-images/hero-about-us-leadership-optimized.jpg');
    }

    &[class*='sitemap-hero'] {
      background-image: url('/sites/default/files/images/background-images/hero-sitemap-optimized.jpg');
    }
  }
}
