.block-social-media {
  ul {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li + li {
      margin-top: 0;
    }

    li {
      a {
        img {
          background-color: $black-90;
          display: block;
          height: 40px;
          width: 40px;
        }
      }

      &:nth-of-type(1) {
        background-color: $green;

        a {
          @include font-size(12px);
          align-items: center;
          background-color: $green;
          border-bottom: 0;
          color: $white;
          display: flex;
          text-decoration: none;

          &::after {
            content: 'Contact Us';
            font-weight: bold;
            margin: 0 20px 0 10px;
          }
        }
      }
    }
  }
}

html {
  &:lang(fr) {
    .block-social-media {
      ul {
        li {
          &:nth-of-type(1) {
            a {
              &:after {
                content: 'Contactez nous';
              }
            }
          }
        }
      }
    }
  }

  &:lang(es) {
    .block-social-media {
      ul {
        li {
          &:nth-of-type(1) {
            a {
              &:after {
                content: 'Contáctenos';
              }
            }
          }
        }
      }
    }
  }

  &:lang(pt) {
    .block-social-media {
      ul {
        li {
          &:nth-of-type(1) {
            a {
              &:after {
                content: 'Contate-Nos';
              }
            }
          }
        }
      }
    }
  }

  &:lang(zh) {
    .block-social-media {
      ul {
        li {
          &:nth-of-type(1) {
            a {
              &:after {
                content: '联系我们';
              }
            }
          }
        }
      }
    }
  }
}

.embed-container {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.block-add-to-any-buttons {
  display: block;
  margin: 25px auto;
  max-width: 728px;

  @include respond-to(breakpoint-large) {
    margin: 25px auto;
    padding: 0;
  }

  &::before {
    content: 'Share';
    display: block;
    margin-bottom: 5px;
    padding: 0 0 0 5px;
  }

  span {
    display: block;

    a {
      margin-top: 0;
      width: 45px;

      .addtoany_list {
        img {
          [src$='.svg'] {
            height: unset;
            width: unset;
          }
        }
      }
    }
  }
}
