div[aria-label='Status message'],
.status-messages {
  @include font-size(16px);
  background-color: $blue;
  color: $white;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;

  a {
    border-bottom: 2px solid $white;
    color: $white;
    font-style: normal;
    text-decoration: none;

    &:visited {
      color: $white;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 0;
      color: $white;
      cursor: pointer;
      outline: 0;
      text-decoration: none;
    }
  }
}
