div {
  .sticky-wrapper {
    display: none;

    @include respond-to(breakpoint-large) {
      background-color: rgba(148, 201, 73, .95);
      bottom: 0;
      color: $white;
      // Hide sticky footer for ease of front-end development.
      display: table;
      // display: none;
      height: 50px !important;
      margin: 0;
      padding: 10px 0;
      position: fixed;
      text-align: center;
      width: 100%;

      a {
        background-color: $white;
        border-bottom: 0;
        color: $black-90;
        display: inline-block;
        outline: 0;
        padding: 6px 10px;

        &:visited {
          color: $black-90;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $black-90;
          border-bottom: 0;
          color: $white;
          cursor: pointer;
          outline: 0;
          text-decoration: none;

          &::after {
            @include font-size(12px);
            color: $white;
            content: '\276F';
            margin-left: 8px;
            transform: translateY(3px);
          }
        }

        &::after {
          @include font-size(12px);
          color: $black-90;
          content: '\276F';
          margin-left: 8px;
          transform: translateY(3px);
        }
      }
    }
  }
}
