.paragraph-type-testimonial {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 20px;

  @include respond-to(breakpoint-large) {
    margin: auto;
    max-width: 796px;
    padding: 50px 0;
    text-align: center;
  }

  q {
    color: $black-80;
    margin-top: 25px;
    quotes: '"' '"' ''' ''';
    text-align: center;
  }

  p {
    font-style: italic;
    margin-top: 25px;
  }
}
