// This file contains all Ultimenu layout and very basic styling.
//
// Classes:
// .ultimenu: the menu UL tag.
// .ultimenu > li: the menu LI tag.
// .ultimenu__flyout: the ultimenu region container aka flyout.
// .ultimenu__link: the menu-link A tag.

.navigation {
  margin-top: 0;
}

// Menu list style.
// Make flyout relative to UL for wide flyout
// Basic skins.
.ultimenu {
  list-style: none;
  margin: 0;
  min-height: 40px;
  padding: 0;
  position: relative;

  > li {
    display: inline-block;
    margin: 0;
    position: relative;

    &:hover {
      > .ultimenu__flyout {
        display: block;
        margin-top: 0;
        opacity: 1;
        transition-delay: 0s;
        visibility: visible;
      }
    }
  }

  .ultimenu__link {
    display: block;
    line-height: 1.4;
    padding: .5em 1.25em;
    position: relative;
    text-decoration: none;

    small {
      display: block;
      font-size: 70%;
      line-height: 1;
    }
  }
}

.block {
  .ultimenu {
    padding: 0;
  }

  &.block-mobile-navigation {
    display: block;
    margin: 0;

    @include respond-to(breakpoint-large) {
      display: none;
    }
  }

}

// Ultimenu flyout.
.ultimenu__flyout {
  color: $black-80;
  left: 0;
  line-height: 1.4;
  padding: 20px 0;
  width: 100%;
  z-index: 102;

  .block {
    max-width: 100%;
  }

  &::after {
    clear: both;
    content: ' ';
    display: table;
  }

  .region {
    &::after {
      clear: both;
      content: ' ';
      display: table;
    }
  }

}

// Orientation.
// -vtr: vdertical to right
// -vtl: vertical to left
// -htt: horizontal to top
// -htb: horizontal to bottom
.ultimenu--horizontal {
  // Overrides bartik .block ul padding
  padding: 0;
  z-index: 9;
}

.button {
  &.button--ultimenu {
    background: transparent;
    border: 0;
    display: none;
    height: 48px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 57px;
    z-index: 999;

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $green;
    }

    .bars {
      box-shadow: 0 12px 0 1px $black-90, 0 20px 0 1px $black-90, 0 28px 0 1px $black-90;
      display: block;
      height: 0;
      position: absolute;
      right: 15px;
      top: 5px;
      width: 25px;
    }
  }
}

// Smaller medium.
@media all and (max-width: 76.499em) {

  // Ultimenu flyout. Mobile version has no :hover, so safe to display: none,
  // and relies on click events via jQuery.
  .ultimenu {
    border-bottom: 5px solid $green;
    overflow: hidden;

    > li,
    .ultimenu__link {
      min-width: 100%;
      width: 100%;
    }

    > .ultimenu__item {
      > .ultimenu__link {
        @include font-size(14px);
        background-color: $black-90;
        border-bottom: 0;
        border-top: 0;
        padding: 24px 40px 23px 20px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          background-color: $black-90;
          border-bottom: 0;
          border-top: 0;
          color: $white;
        }

        &.is-active {
          background-color: $black-90;
          border-bottom: 0;
          border-top: 0;
          color: $white;
        }
      }
    }
  }

  .ultimenu__flyout {
    bottom: auto;
    display: none;
    height: auto;
    left: auto;
    margin: 0;
    right: auto;
    top: auto;
    width: 100%;
  }

  .ultimenu--main {
    // We use jQuery to toggle this on smaller device.
    background: $black-90;
    display: none;

    // Mobile needs a handler for click event.
    .ultimenu__link {
      color: $white;
      min-height: 42px;
      padding: 1em 1.75em;

      &:hover,
      &:active {
        background: $black;
      }

      &.is-active {
        background: $black;
      }
    }
  }

  // Button for main menu.
  .button {
    &.button--ultimenu {
      cursor: pointer;
    }
  }
}

// Larger medium
@media all and (min-width: 76.5em) {
  .ultimenu {
    > .ultimenu__item {
      > .ultimenu__link {
        @include font-size(12px);
        background-color: $white;
        border-bottom: 1px solid $white;
        border-top: 5px solid $white;
        padding: 24px 40px 23px 20px;
        text-transform: uppercase;

        &.is-active {
          background-color: $black-90;
          border-bottom: 1px solid $black-90;
          border-top: 5px solid $green;
          color: $white;

          &:hover {
            background-color: $black-90;
            border-bottom: 1px solid $black-90;
            border-top: 5px solid $green;
          }
        }

        &:hover {
          background-color: $black-90;
          border-bottom: 1px solid $black-90;
          border-top: 5px solid $green;
          color: $white;
        }

        &::after {
          content: '\276F';
          position: absolute;
          right: 20px;
          text-indent: 0;
          transform: rotate(90deg);
        }
      }
    }
  }

  .ultimenu__item {
    .ultimenu__flyout {
      background-color: $black-90;
      opacity: 0;
      visibility: hidden;

      div {
        &[class*='region-ultimenu-main-'] {
          background-color: transparent;
          margin: auto;
          max-width: 1224px;
        }
      }
    }
  }

  div {
    &[class*='mega-menu__'] {
      > .field {
        > .field__item {
          align-items: flex-start;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;

          div+div {
            margin-top: 0;
          }

          div {
            border-right: 1px solid $black-80;
            margin-right: 25px;
            max-width: 450px;
            padding-right: 25px;
            position: relative;

            &:last-of-type {
              border-right: 0;
              margin-right: 0;
            }

            h3,
            .mega-menu {
              &.heading {
                @include font-size(18px);
                color: $green;
                font-family: $title-font;
                letter-spacing: 1px;
                line-height: 1.4;

                a {
                  border-bottom: 0;
                  color: $green;

                  &:visited {
                    color: $green;
                  }

                  &:hover,
                  &:active,
                  &:focus {
                    border-bottom: 1px solid $white;
                    color: $green;
                    cursor: pointer;
                    outline: 0;
                    text-decoration: none;
                  }
                }
              }
            }

            p {
              @include font-size(14px);
              color: $white;
              margin-top: 10px;
            }

            ul {
              align-items: flex-start;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              list-style: none;
              margin: 10px 0 0 25px;
              padding: 0;

              li+li {
                margin-top: 0;
              }

              > li {
                color: $white;
                // margin-right: 25px;
                position: relative;
                // white-space: nowrap;

                &::before {
                  @include font-size(12px);
                  color: $green;
                  content: '\276F';
                  left: -12px;
                  position: absolute;
                  text-indent: 0;
                  transform: translateY(3px);
                }

                a {
                  @include font-size(14px);
                  border-bottom: 0;
                  color: $white;

                  &:visited {
                    color: $white;
                  }

                  &:hover,
                  &:active,
                  &:focus {
                    border-bottom: 1px solid $white;
                    color: $white;
                    cursor: pointer;
                    outline: 0;
                    text-decoration: none;
                  }
                }

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }
          }

          > ul {
            align-items: flex-start;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            list-style: none;

            li+li {
              margin-top: 0;
            }

            li {
              margin-right: 25px;
              white-space: nowrap;

              a {
                @include font-size(14px);
                border: 0;
                color: $white;
              }

              &:last-of-type {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .block {
    &.mega-menu__partners {
      >.field {
        >.field__item {
          div {
            max-width: 325px;
          }
        }
      }
    }

    &.mega-menu__issuers {
      >.field {
        >.field__item {
          div {
            max-width: 375px;
          }
        }
      }
    }

    &.mega-menu__about-us {
      >.field {
        >.field__item {
          div {
            max-width: 130px;
          }
        }
      }
    }
  }

  &.mega-menu__merchants {
    > .field {
      > .field__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        > div+div {
          margin-top: 0;
        }

        > div {
          border-right: 1px solid $black-80;
          margin-right: 25px;
          max-width: 460px;
          padding-right: 25px;
          position: relative;

          > div {
            ul {
              display: table-cell;
              margin: 0;
              padding: 0 0 0 25px;
            }

            &:first-of-type {
              border-right: 0;
              margin-bottom: 10px;
              margin-right: 0;
              max-width: none;
              padding-right: 0;
              position: inherit;
            }

            &:last-of-type {
              column-count: 2;
              column-gap: 50px;
              margin-right: 40px;
              max-width: 400px;
              padding-right: 40px;
            }
          }
        }
      }
    }
  }

  // Ultimenu flyout: Never display: none, bad for animation.
  .ultimenu__flyout {
    background-color: $white;
    border-bottom: 5px solid $green;
    display: block !important;
    // margin: 0 0 0 calc(-50vw + 50% - 168px);
    opacity: 0;
    padding: 35px 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 100vw;
  }

  .ultimenu__link {
    .caret {
      display: none;
    }
  }

  .button {
    &.button--ultimenu {
      display: none;
    }
  }
}


#block-ethoca-main-menu {
  display: none;
}

.ultimenu-display-important {
  display: block !important;
}

.navigation__mega-menu {
  display: none;

  @include respond-to(breakpoint-large) {
    display: block;
  }
}

#superfish-main {
  display: none;
}

#superfish-main-toggle {
  border-bottom: 0;
  display: block !important;
  height: 48px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  width: 57px;

  @include respond-to(breakpoint-medium) {
    height: 66px;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom: 0;
    text-decoration: none;
  }

  .bars {
    box-shadow: 0 12px 0 1px $black-90, 0 20px 0 1px $black-90, 0 28px 0 1px $black-90;
    display: block;
    height: 0;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 25px;
  }

  span {
    color: $white;
    display: block;
    height: 48px;

    @include respond-to(breakpoint-medium) {
      height: 66px;
    }

    &::before {
      box-shadow: 0 12px 0 1px $black-90, 0 20px 0 1px $black-90, 0 28px 0 1px $black-90;
      color: $black !important;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 15px;
      top: 5px;
      width: 25px;

      @include respond-to(breakpoint-medium) {
        top: 13px;
      }
    }
  }
}

#superfish-main-accordion {
  border-bottom: 5px solid $green;

  .list-item {
    &.menuparent {
      background-color: darken($black-90, 5%);

      &.active-trail {
        .sf-depth-1 {
          &.menuparent {
            color: $green;
            font-family: $title-font;
          }
        }
      }
    }

    a {
      @include font-size(14px);
      border-bottom: 0;
      border-top: 0;
      color: $white;
      padding: 24px 0 23px;
      text-align: center;
      text-transform: uppercase;

      &.is-active {
        background-color: darken($black-90, 5%);
        color: $green;
        font-family: $title-font;
      }
    }

    .sf-has-clone-parent {
      .sf-clone-parent {
        .sf-depth-1 {
          background-color: $black-90;
          color: $white !important;
          font-family: unset !important;

          &.is-active {
            font-family: unset;
          }
        }
      }

      .sf-depth-2 {
        &.list-item {
          .sf-depth-2 {
            background-color: $black-90;
          }
        }
      }
    }
  }
}
