{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}
<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-presentation" title="Ethoca Makes Fraud &amp; Chargebacks Relics of the Dark Ages" {{ attributes }}{% if url is not empty %} src="{{ url }}{% if query is not empty %}?{{ query | url_encode }}{% endif %}{% if fragment is not empty %}#{{ fragment }}{% endif %}"{% endif %}></iframe>
