<div class="footer-bottom">
  <div>
    <div>&copy; {{ 'Copyright'|t }} {{ "now"|date("Y") }}. {{ 'All Rights Reserved by Ethoca Inc.'|t }}</div>
    <ul>
      <li><a href="/sitemap">{{ 'Site Map'|t }}</a></li>
      <li><a href="/privacy-policy">{{ 'Privacy Policy'|t }}</a></li>
    </ul>
  </div>
</div>
