<section class="island" data-app="auth">
  <div class="island__container">
    <div class="top_part">
      <h1 class="the_logo">
        <a href="{{ url('<front>') }}">
          <img src="{{ logo }}" alt="{{ site_name }}" />
        </a>
      </h1>
    </div>
    <div class="middle_part">
      <h2 class="title">Login to your account</h2>
      {{ messages }}
      {{ page.content }}
    </div>
  </div>
  <footer class="island__footer">
    <div class="bottom_part">
      <div class="password_link">
        <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
      </div>
      <div class="back_link">
        <a href="{{ url('<front>') }}">&larr; {{ 'Back'|t }} to {{ site_name }}</a>
      </div>
    </div>
  </footer>
</section>
